[2017-02-16 13:17] rico opened #1 "Items get stacked when loaded using ajax"
I'm having a problem that the items get stacked, when added from ajax call. I guess I would need to trigger the method to layout  the items again. Can I somehow access the masonry instance and trigger `reloadItems()` after receiving the items from ajax call?

[2017-02-16 14:08] shershen08 commented on #1
@rico thanks for the report,

Do you have the correct markup int your templates?
[code]
and then the `blocks` array is being increased after the ajax call succeeds?

Anyway I'll take a look and try to reproduce the issue and get back with fixes tonight. I already had some related improvements in progress.

[2017-02-16 17:06] rico commented on #1
@shershen08 - I did indeed miss the `v-masonry-tile` directive. Didn't pay close enough attention cause I set the `item-selector` for the `v-masonry` directive to the exact same element and didn't notice the tile directive. So - now it works! Thanks!

[2017-02-16 17:06] #1 closed

[2017-02-23 13:34] rico opened #3 "Listen to Masonry events"
Sorry, me again - is it somehow possible to listen to the events of the underlying Masonry instance (e.g. `layoutComplete`)?

[2017-02-23 18:19] shershen08 commented on #3
Thanks for the question!
Currently there are no masonry events (like those http://masonry.desandro.com/events.html, right ?) broadcasted outside of the plugin.

[2017-02-23 18:32] rico commented on #3
Thanks for your quick answer - and the package, of course.

Yes exactly those events :-) No problem, I'll find another way.

[2017-02-23 18:50] #3 closed

[2017-03-14 16:50] kingsloi opened #5 "Trigger events"
Hi,

I'm using Vuex to show data on my dashboard page. I load a few things after page load, so I'm looking to trigger one of the events to redraw the masonary grid.

I'm not able to access the `Events` eventhub, so I'm unsure how to trigger. Any ideas?

[2017-03-14 16:59] shershen08 commented on #5
Hi, I'll check that and think of the options by tonight

[2017-03-14 16:59] kingsloi commented on #5
@shershen08, you're a good man

[2017-03-15 09:50] shershen08 commented on #5
Can you check if you maybe have similar misuse of the plugin (https://github.com/shershen08/vue-masonry/issues/1) ?
Since the elements added to the DOM the internal plugin's events will be triggered automatically and masonry.layout will be called.

[2017-03-15 13:37] kingsloi commented on #5
I don't use a for loop to call my "blocks" I have them manually typed out into my component such as:

[code]

Which I take is incorrect as it doesn't trigger the events, so I have to use a for-loop?

[2017-03-15 13:46] shershen08 commented on #5
I got your point, yes I see the problem, working on it

[2017-03-15 13:48] kingsloi commented on #5
@shershen08 dank je wel

[2017-03-16 20:27] shershen08 commented on #5
@kingsloi I've experimented with the static setup you had. And event in that case the the masonry layout worked out correctly.
I suppose it's because this line of code in the plugin

`var masonry = new Masonry(el, collectOptions(el.attributes))`

[here](https://github.com/shershen08/vue-masonry/blob/master/src/masonry.plugin.js#L38) leads to the same [vanilla js initialization scenario](http://mas

[2017-03-18 22:27] ishigami opened #6 "Showing hidden text, need to reload Masonry"
Hi shershen08, how are you?

I need a little help yours. I have a tile where there is a short text with a button to show the complete text inside this tile. Is there a method to call the reloadItens() function or something to do the masonry recalculate the position of the tiles?

Tks a lot.

[2017-03-19 18:09] patrickbolle opened #7 "Uncaught SyntaxError: Unexpected token import only for this package"
Hi there, Vue 2.0 from the webpack template (Vue CLI).

Just tried to install this package but as soon as I put it in my Vue component or main.js file, my site stops loading and I get:
`Uncaught SyntaxError: Unexpected token import
`
on this statement -
`import {masonry, masonryTile} from 'vue-masonry';
`
I've tried installing other npm packages/vue plugins/directives etc, and they all work totall

[2017-03-20 09:14] shershen08 commented on #5
Any news on your issue @kingsloi ?

[2017-03-20 09:15] shershen08 commented on #7
@patrickbolle I'll try to reproduce on clean Vue 2.x install and get back to you asap

[2017-03-20 09:38] shershen08 commented on #7
I've just checked the clean install of vue-cli with webpack template and install of simple  `"vue-masonry": "0.9.5"` on it - it all works fine for me. I couldn't reproduce your error.

Can you check your setup, because `Uncaught SyntaxError: Unexpected token import`` is a generic error is your ES6 code is not being properly by your loader.

Do you use vue-cli webpack template?

Please provide more

[2017-03-20 09:39] shershen08 commented on #6
Hi @ishigami
I see your problem. I'll get back to you today on that.

[2017-03-20 14:27] patrickbolle commented on #7
Weird!
Yeah I'm using the vue-cli webpack template.
Maybe I should make an issue on that repo instead.

Any other info I could give to you?

[2017-03-20 14:39] shershen08 commented on #7
Do you have a large codebase on that project?
If not maybe you could zip it and let the take a look?

[2017-03-20 15:20] patrickbolle commented on #7
I've got it hosted on Gitlab if you'd like to take a look at the repo (it's private, so you'll need an account)

[2017-03-20 16:43] ishigami commented on #6
Tks a lot shershen08.

[2017-03-20 22:17] kingsloi commented on #5
@shershen08, sorry I haven't had a chance just yet - I'll take a look and let you know later

[2017-03-20 22:35] kingsloi commented on #5
@shershen08, ok, I think it was a weird edge case with two packages using the same class on something else - I just copied your example and it worked perfect. Thanks for helping!

[2017-03-20 22:35] #5 closed

[2017-03-21 13:34] shershen08 commented on #6
I've tried to have a simplified demo here: https://jsfiddle.net/shershen08/g1Lkee4q/

Basically this code can be run when masonry redraw is needed:

[code]
but as to me it woks once and then until a real resize happens it doesn't work. trying to figure pout why.

[2017-03-21 13:54] shershen08 commented on #7
I've checked your repo.
You're using webpack 1.x and  "vue-loader": "^9.4.0".
I am pretty sure this is the problem in configuring the setup, not the plugin itself.

Try taking a clean vue-cli project that uses webpack 2.x - https://github.com/vuejs-templates/webpack. Plugin works fine with those.

[2017-03-22 12:49] ishigami commented on #6
Hi shershen08 the same behavior happens to me. I'm trying to find some alternative for this. I'll be in touch if I have some news.

Tks again. You're great.

[2017-03-22 13:01] shershen08 commented on #6
for now I first want to separate if it's a masonry itself or vue-js introduced behaviour

[2017-03-23 14:52] shershen08 commented on #7
Hey, @patrickbolle . did you try to check on that one?

[2017-03-23 15:11] patrickbolle commented on #7
Hey. Super sorry, been really busy with freelance clients this week. I should have some time today or tomorrow to try this out. You think I could just upgrade webpack and vue loader 'gracefully' rather than redoing the project from scratch?

Cheers! Appreciate your help.

[2017-03-23 15:19] shershen08 commented on #7
well since **webpack and vue-loader** are just build tooling, not the libraries used in your project code I don't see a reason why you need to change your code.

Maybe other loaders will need to be upgraded as well as the **webpack config file** - https://webpack.js.org/guides/migrating/

[2017-03-24 14:59] shershen08 commented on #6
the solution is simple, have a [vue plugin](https://vuejs.org/v2/guide/plugins.html) wrap the whole thing. then you can have a global Vue method to perform redrawing

Here's a demo implementation - https://jsfiddle.net/shershen08/6po2gwn2/

I'll create new version of vue-masonry as a **vue plugin** this weekend

Closing for now If you're OK

[2017-03-24 14:59] #6 closed

[2017-03-24 15:07] ishigami commented on #6
Tks a lot shershen08. I'll apply this later.

[2017-03-25 18:35] patrickbolle commented on #7
Upgraded :) works great now, thanks!!

[2017-03-25 18:35] #7 closed

[2017-03-25 18:37] shershen08 commented on #7
Nice to hear! Good!

[2017-03-25 19:27] patrickbolle commented on #7
Hey @shershen08 quick question, sort of unrelated.

I'm using this code -
[code]
The category component is just a list of items (varying number of items).

I've got vue masonry working, but it isn't working properly with the height of each CategoryComponent (which is dynamic).

It ends up looking like this -
![Masonry Issue](https://cloud.githubusercontent.com/assets/11012317/24325436/548114b6-116

[2017-03-27 11:42] rickbolton opened #8 "pluginWideMasonryRef is not a function"
I've just tried to add `Vue.redrawVueMasonry()` when my items change and I'm receiving the error pluginWideMasonryRef is not a function.

I tested changing the function within the masonry.plugin.js to something like below which worked fine. Not sure whether I'm implementing it incorrectly or whether this an issue?

[code]

[2017-03-27 11:48] shershen08 commented on #8
Oh, you totally right, I was changing and forgot to commit the last change
I'll update the package tonight

[2017-03-27 12:04] rickbolton commented on #8
Thanks for the quick reply. That's great thanks!

[2017-03-30 14:04] shershen08 commented on #3
Btw @rico here's the improvement in the library that you were requesting for - https://github.com/shershen08/vue-masonry/issues/6

[2017-03-30 14:24] shershen08 commented on #8
Commited npm `version 0.10.1`

[2017-03-30 14:24] #8 closed

[2017-03-31 07:15] rico commented on #3
@shershen08 many thanks for getting it done and the information!

[2017-04-07 06:48] azhard4int opened #9 "Blocks are overlapping"
Hi,

@shershen08 great work done by you mate, we are experiencing a problem when the posts have the lazy load images enabled and their height is dynamically adjusted. Here is a link to the screenshot [http://prntscr.com/etgok7](http://prntscr.com/etgok7)

Div/Blocks are overlapping each other and we assigned the min-height to the box/div as well but in that case the distance/gap between items incr

[2017-04-07 09:57] shershen08 commented on #9
Hi @azhard4int

[2017-04-07 10:02] shershen08 commented on #9
I see the problem on the screeshot. However that could be easier to debug if there was a code example of the problem using jsfiddle for example.

Current version has an image loaded enabled so blocks should adjust correctly when images are loaded.

Using callback is intended for cases when the dimensions of the content of your blocks changed somehow since last adjustment. It calls methods from ori

[2017-04-07 11:13] azhard4int commented on #9
@shershen08 The issue that was coming is due to vue-lazy-load images plugin.

As imagesLoaded is called instantly as soon as the new posts have been fetched instead when the image file has been downloaded. Right now, I have removed the v-lazy and it is working fine now.

I will further dig deep for the v-lazy-load and try to update here if we can resolve it using v-lazy-load.

[2017-04-07 11:19] shershen08 commented on #9
Thanks for the fast update @azhard4int. Closing this for now since it's not a vue-masonry issue directly.
But you still welcome to update this topic here below.

When I will be planning to add an Faq section with common cases and problems ppl come across I will reference this item there.

[2017-04-07 11:19] #9 closed

[2017-05-19 22:34] mariante opened #10 "Position"
Why isnt Working?

Code:
[code]

Css:

[code]

Result:
http://i.imgur.com/4jmvLQV.png

[2017-05-20 16:30] shershen08 commented on #10
Do you have any JS errors in console?
Is masonry JS script added?

I can't see other css/JS that you have on the page. That may influence error. It would be more helpful if you could create a reproduced demo case using jsfiddle or codepen.

[2017-05-22 13:49] shershen08 commented on #10
Hello @mariante do you have any input on this one?

[2017-05-23 06:25] shershen08 commented on #10
Closing, since no activity.

[2017-05-23 06:25] #10 closed

[2017-06-01 16:51] Frzurita opened #11 "How can I use the gutter property in a good way using vue-masonry?"

[2017-06-01 16:55] Frzurita commented on #11
Hi! I'm using your npm package which works perfectly but I would like to know how can I set different properties using best practices.

Thanks!

[2017-06-02 12:16] shershen08 commented on #11
Hello @Frzurita  the gutter property is not yet currently supported. The supported list is in https://github.com/shershen08/vue-masonry/blob/master/README.md
I'll try to add gutter coming days.

[2017-06-02 20:49] renatoslcdevshop commented on #11
Any workaround until then?

[2017-06-02 20:53] shershen08 commented on #11
I've just committed version 0.10.2 - it should be available there.
Let me know if it worked our well

[2017-06-02 21:01] renatoslcdevshop commented on #11
Great! Many thanks.

I just noticed there's a bootstrap way to set it. Since I'm already using bootstrap, should I use that instead of manually setting the gutter? Any drawbacks in either approaches?

[2017-06-06 19:52] shershen08 commented on #11
@renatoslcdevshop passing gutter properties using only vue-masonry component can have 2 benefits, as I can see this:
 - you use consistently one way to configure your masonry layout
 - you (in case if needed) can dynamically change the gutter property from your JS/VUE

[2017-06-06 19:52] #11 closed

[2017-06-26 09:38] Dropth opened #13 "Divider between items"
Hi !

First, thanks for this library. I install it and it works perfectly.

Nevertheless, I have a question. Can we add divider (like a line) between our items ? I didn't notice any reference about this in your doc.

Thanks in advance !

[2017-06-26 11:13] shershen08 commented on #13
Hello @Dropth please take a look at the readme and masonry options more carefully, I suppose **gutter** is what you meant to use - https://masonry.desandro.com/options.html#gutter

[2017-06-26 11:13] #13 closed

[2017-07-05 13:12] worldgymrus opened #14 "fitWidth not included"
Hello.
Please tell me when you are planing to implement fitWidth this feature in plug-in for Vuejs.

It is very usefull.

Thank you,
Alex.

[2017-07-07 03:42] ChefQuix opened #15 "having difficulty with gutter"
In my wrapping div:

``<div class="grid" gutter="10" v-masonry transition-duration="0.5s" item-selector=".card">``
``<card class='card'...></card>``
``</div>``

I'm getting this warning:

[Vue warn]: Error in directive masonry inserted hook: "SyntaxError: Failed to execute 'querySelector' on 'Element': '10' is not a valid selector."

[code]
Looking at the masonry code, it seems like it's interpret

[2017-07-07 15:50] shershen08 commented on #15
@ChefQuix yes I see the problem. I'll check details and update you ASAP

[2017-07-07 19:53] ChefQuix commented on #15
Looking at the vue documentation https://vuejs.org/v2/guide/components.html#Literal-vs-Dynamic for literal vs dynamic, it claims that using a vue-bind directive:
`<comp v-bind:some-prop="1"></comp>`
should evaluate it as an integer, however that did not work for me.

[2017-07-07 21:53] shershen08 commented on #15
I am not sure it's a bug in vue-masonry or in your setup. Ill try to check this coming days.
If I were you I would also try to ask a question on stackoverflow.com

[2017-07-07 22:50] ChefQuix commented on #15
Do you have an example of where gutter is working?  Like on a codepen or something?

[2017-07-08 11:22] shershen08 commented on #15
@ChefQuix here's the demo i've made up with gutter property - https://jsfiddle.net/d4967v9o/20/
You're right the current version supports `gutter` property ONLY via stating the DOM node selector, not pasting the Integer number.
css:
[code]
html:
[code]
I'll update the docs.

[2017-07-08 11:22] #15 closed

[2017-07-08 12:05] shershen08 commented on #14
@worldgymrus I'll add those coming days

[2017-07-08 13:41] ChefQuix commented on #15
Thanks!

[2017-07-11 19:09] Miami3 opened #16 "ES5 only usage"
Hi,
I have a project which not used modern ES6 syntax.
How can I use your vue-masonry ?
Any way to get compiled version ?

[2017-07-12 07:31] shershen08 commented on #16
Sorry, this is not a issue of the vue-masonry plugin. It'd typical general development question - please use stackoverflow.com for this.

[2017-07-12 07:31] #16 closed

[2017-07-21 08:56] satuweb opened #17 "How to use with browserify?"
I use browserify and bebelify
trunk/node_modules/vue-masonry/index.js:1

Warning: Error running grunt-browserify. Use --force to continue.

Could you help me?

[2017-07-21 09:00] shershen08 commented on #17
This is not a bug of the lib, it's your tooling is not setup right.

Try googling for this error text "ParseError: 'import' and 'export' may appear only with 'sourceType: module'", I am pretty sure you will find out what's missing.

[2017-07-21 09:00] #17 closed

[2017-07-21 09:34] nikkanetiya opened #18 "[Vue warn]: Failed to resolve directive: masonry"
I am using VueJS version "2.3.4" with web pack.

window.Vue = require('vue');
Vue.use(require('vue-masonry'));

it is not working for me it gives an error
`[Vue warn]: Failed to resolve directive: masonry`

Is there anything needs to change to work with web pack?

[2017-07-21 11:27] shershen08 commented on #18
It's probably because you are using webpack require for named imports in the vue-masonry module.
Try call it like this -
[code]

[2017-07-22 05:26] nikkanetiya commented on #18
it's working fine now. Thanks for the guidelines.

Would Like to ask one more thing, will it work Vue.redrawVueMasonry()?

[2017-07-22 06:26] shershen08 commented on #18
@nikkanetiya yes that should work

Closing the issue for now

[2017-07-22 06:26] #18 closed

[2017-07-22 06:27] nikkanetiya commented on #18
Sure, Thanks.

[2017-07-25 10:05] kalidiagne opened #19 "block not visible in element-ui tabs"
I'm using v-masonty with element-ui tabs.
if i switch in tabs the blocks are not visible.
but It's work when i resize the page, i think in caused by the initial height of the tab, indeed if i inspect the style i found that
`style="position: relative; height: 0px;"` and then at resize `position: relative; height: 1091.11px;`

[2017-07-25 10:10] shershen08 commented on #19
hi @kalidiagne can you provide a demo of the problem?

[2017-07-25 11:55] kalidiagne commented on #19
hi @shershen08
you can see it there https://app.hyfy.io/v/abMB1KxNa0U/

[2017-07-25 13:49] bartdominiak opened #20 "horizontal centering"
Hi,

Is there any way to make horizontal centered items?
As far as I know, there's fitWidth property needed, but it's not working here.

[2017-07-25 13:53] shershen08 commented on #19
that seem the case for the masonry redraw call.
Did you try to add `Vue.redrawVueMasonry()` call when a tab is opened first or each time?

[2017-07-25 14:00] shershen08 commented on #20
you're right #14

i am in progress with this one

[2017-07-25 14:00] #20 closed

[2017-07-26 13:34] kalidiagne commented on #19
hi @shershen08 im trying  with that code
`<el-tabs v-model="currentTab" @tab-click="test"> [...] </el-tabs>`

[2017-07-26 13:41] shershen08 commented on #19
I see,
I'll try to reproduce it this week and see where's the problem lies

[2017-07-27 06:15] Topi99 opened #21 "'VueMasonryPlugin' was not found."
When I run webpack I have a WARNING:

`export 'VueMasonryPlugin' was not found in './src/VueMasonry.vue'`.

Please, help :octocat:

[2017-07-27 06:47] shershen08 commented on #21
Well that's definitely smth wrong with your webpack setup I guess. Can you post your config here?

[2017-07-27 06:59] Topi99 commented on #21
[code]

[2017-07-27 08:01] shershen08 commented on #21
hmm, I am not sure where's the problem here or in file where you use the vue-masonry plugin.
Can you try some standard solution, like one of those - https://github.com/vuejs-templates ?

[2017-07-27 08:01] #21 closed

[2017-07-27 13:50] shershen08 commented on #14
added in `0.10.4`

[2017-07-27 13:50] #14 closed

[2017-07-28 15:28] approached opened #22 "How do you build the add button?"
https://shershen08.github.io/vue-plugins-demo-static/index.html#/masonry

How do you build the add button?

I tried the same but it look tearable by me.

[2017-07-31 12:25] shershen08 commented on #22
Hello @approached
here is the small demo - https://jsfiddle.net/shershen08/qnfgv5vw/

basically it's those blocks do it:

[code]
[code]
[code]

hope that helps

[2017-07-31 12:25] #22 closed

[2017-07-31 13:39] approached commented on #22
Thank you for your comment.
The main problem is, i add the item at first position with **unshift**. That looks not really good.

Demo Problem:
https://jsfiddle.net/qnfgv5vw/4/

[2017-08-01 10:20] charlzgod opened #23 "error export 'VueMasonryPlugin' was not found in './src/VueMasonry.vue'"
Created a project on nuxt.js and such a connection error

[2017-08-01 13:24] shershen08 commented on #23
@charlzgod please provide more information. Ideally the repository link.

[2017-08-02 06:35] pingshunhuangalex commented on #23
@shershen08 I also got the same error, and actually, I don't know how to use this tool after following the instructions on the repo. I load the original masonry in Webpack and it works fine, that shouldn't be the issue. Any help would be appreciated.

![image](https://user-images.githubusercontent.com/17170199/28860585-8445baf2-77a0-11e7-81f1-158d834d6c9e.png)

[2017-08-02 09:43] shershen08 commented on #23
You guys right, I'll update the plugin a bt

[2017-08-02 09:48] shershen08 commented on #23
please install/update the latest version 0.10.5, should be all good now

https://www.npmjs.com/package/vue-masonry

[2017-08-02 09:48] #23 closed

[2017-08-02 14:52] patrickjahns opened #24 "Uglifier complains with `Unexpected token: operator (>)` in 0.10.5"
Removing the intermediate vue leads to problems with UglifyJs:

[code]

Not sure how or if it can be fixed?

[2017-08-02 15:10] shershen08 commented on #24
can you try with https://github.com/shershen08/vue-masonry/blob/master/src/masonry.plugin.js#L19 like this ?
` const stringToBool = (val) => (val + '').toLowerCase() === 'true';`
I can't reproduce the setup to test right now, but I could roll the fix today

[2017-08-02 17:46] patrickjahns commented on #24
I tried but it would still fail with the mentioned error (just different character place). I don't quite understand how the intermediate vue would not cause this issue -_-

[2017-08-02 19:30] shershen08 commented on #24
OK I'll check that today

[2017-08-04 08:07] shershen08 commented on #24
@patrickjahns can you check this repo i've cretaed with `vue-masonry` and adding `uglifyjs-webpack-plugin`
https://github.com/shershen08/vue-masonry-plugin-demo

And it seem to work fin for me

[2017-08-04 13:18] patrickjahns commented on #24
will do as soon as I can get around provide feedback

[2017-08-06 15:26] proov commented on #24
Hello guys !

I Have this issue too using [Nuxt.js](https://nuxtjs.org/) lastest `1.0.0-rc3`, Vue-Masonry `0.10.6` and Masonry `4.2.0`. I did exactly what they said in the nuxt.js documentation :

1. create `~plugins/vue-masonry.js` with this code inside:
[code]

2. Reference the plugin in `nuxt.config.js`:
[code]

3. I put your little piece of code in a Vue Component `~components/Masonry.vue`
[co

[2017-08-06 16:13] shershen08 commented on #24
@proov can you show how you included / configured the UglifyJS plugin?

[2017-08-06 18:31] proov commented on #24
@shershen08 I dont know :( I'm using Nuxt.js right out the box, i installed it with `vue init nuxt/starter <project-name>`

However, i located `node_modules/nuxt/package.json` there is `"uglify-js": "^3.0.23"`, does it help you ?

[2017-08-07 09:58] shershen08 commented on #24
@patrickjahns any new on that one ?

[2017-08-07 23:14] VSG24 opened #25 "vue-masonry is working without masonry.js"
I just noticed that I didn't even include `masonry.js` in my project and this plugin is working just fine. What's the deal? I'm not even getting any errors...

[2017-08-07 23:23] VSG24 commented on #25
OK, I just noticed because I have already had masonry installed using npm it was working fine.

[2017-08-07 23:23] #25 closed

[2017-08-08 08:32] shershen08 commented on #24
I've tried to investigate that error and seem that `Unexpected token: operator (>)` may occur commonly if you version of UglifyJS or your uglifyjs settings do not support ES6 features.

With proper setting it should work fine.
1) Check some of those links:
 - https://github.com/mishoo/UglifyJS2/issues/448
 - https://stackoverflow.com/questions/40367491/error-from-uglifyjs-syntaxerror-unexpected-to

[2017-08-08 08:32] #24 closed

[2017-08-08 09:05] patrickjahns commented on #24
Sorry for the delayed response - thank you very much for checking - I will see that we implement your solution and eget back to you

[2017-08-09 04:09] pingshunhuangalex opened #26 "Error when building using Webpack"
Hi @shershen08

Thanks for the amazing tool here, and everything works as it should. However, when I tried to bundle everything in `Webpack` (I used `Vue-cli`), the below error showed up.

[code]

I looked more in details into the above directory, it looks like the following line is causing the problem, but I can't seem to find out why. Maybe you can discover something I missed here. Thanks.

`con

[2017-08-09 13:48] shershen08 commented on #26
Hello @pingshunhuangalex

Please check the same issue I hand recently - https://github.com/shershen08/vue-masonry/issues/24

Can you check in what way your setup is different from - https://github.com/shershen08/vue-masonry-plugin-demo

[2017-08-09 13:57] pingshunhuangalex commented on #26
Hi @shershen08
I did check the other issue thread and tried all the possible ways mentioned in it, but no luck. I also tried to cross-reference your demo repo, no luck either.

I noticed that in your repo, you included the uglifyJS in your dev. How is that gonna help solve the build issue since we are talking about bundling for production? Also I'm also using Vue-cli which has already included ugl

[2017-08-09 14:01] shershen08 commented on #26
Thank you for the detailed answer @pingshunhuangalex

First - if as just a hot fix you try to replace

[2017-08-09 14:12] pingshunhuangalex commented on #26
Hi @shershen08
I just tried downloading your demo repo, `npm i` and `npm run build`. It spit out the same error as I expected. I think Vue-cli got everything we need in this case. It's UglifyJS that's causing the problem.

Do you mind I used your demo repo as a minimal setup for issue testing. I'll reference this issue to it.

Meanwhile, I think a good approach would be using babel to compile your

[2017-08-09 14:35] shershen08 commented on #26
I've created a branch, check this one - https://github.com/shershen08/vue-masonry/tree/compile-to-es5

[2017-08-09 14:47] pingshunhuangalex commented on #26
Thanks @shershen08
By any chance you can put it in npm too?

[2017-08-09 15:07] shershen08 commented on #26
I will merge and publish to NPM today.

[2017-08-09 23:54] pingshunhuangalex commented on #26
Hi @shershen08

Just in case you missed the answer in the original thread, I copied and pasted it below. Since it's in beta, it requires some setup to get UglifyJS to minify ES6.

Personally, I would suggest you stick with ES5 for update release (you can still write in ES6 and compile), at least until they come out of beta so vue-cli actually include the setup for this feature or just include the

[2017-08-10 12:28] shershen08 commented on #26
updated it just now - https://www.npmjs.com/package/vue-masonry
**v 0.10.7**

[2017-08-10 13:54] pingshunhuangalex commented on #26
Hi @shershen08

I just tried 0.10.7, it still throws me the same error. I went into the compressed file in the dist, and I still see arrow functions...

[2017-08-10 13:59] shershen08 commented on #26
hmmm, gimme a sec

[2017-08-10 21:43] shershen08 commented on #26
Fixed this, https://www.npmjs.com/package/vue-masonry
@pingshunhuangalex could you check the **0.10.8** now?

[2017-08-10 23:27] pingshunhuangalex commented on #26
Hi @shershen08

0.10.8 does stop throwing out the bundling error, but the package is still broken. Check the errors shown up in the console. If I revert back to 0.10.6, everything works fine, so it's unlikely issues caused on my side. Thanks.
![image](https://user-images.githubusercontent.com/17170199/29196373-2febc4e6-7e77-11e7-9430-3b3a4f85d996.png)

[2017-08-11 05:42] azhard4int opened #27 "masonry does not work when transition-group added on list items"
Hi

I am trying to implement transition-group on the items but masonry does not work if we do that.

Here is the code

[code]

Is there any workaround for this? As we need to apply transition when we remove some item from the list.

[2017-08-12 05:53] pingshunhuangalex commented on #27
The reason for this is because your CSS set for transition in transition group is conflicting with vue-masonry's transition. You need to set the `transition-duration=0` first (assume you already have `transition: all .4s` set in your CSS for your `fade`)

[2017-08-12 05:56] pingshunhuangalex commented on #26
Hi @shershen08
I'm just gonna to do it in a very sloppy way by pasting the code below instead of forking and submit a PR.
Here is the compiled code for `masonry-plugin` file. Just starts with the latest working version `0.10.6`, and replace `masonry-plugin` with code below. It's all working on my side. Thanks.

[code]

[2017-08-12 07:08] azhard4int commented on #27
@pingshunhuangalex I can set that to transition-duration=0 but that would not solve the problem of masonry as it is no working when we use it.

[2017-08-12 07:10] pingshunhuangalex commented on #27
Then it must be your fade css is not written properly. It's either use vue-masonry's transition or your transition. If you set `transition-duration=0` and transition is not working then it must be your css

[2017-08-12 07:21] azhard4int commented on #27
@pingshunhuangalex it is not about transition, masonry plugin does not work at all. All the items are set with their default styling.

[2017-08-12 07:24] pingshunhuangalex commented on #27
That's weird. Is vue-masonry working on other cases? Or like doesn't work even it's not in a transition group?

[2017-08-12 07:28] azhard4int commented on #27
when we remove the transition-group, everything works perfectly.

Though, we have handled this case using jQuery to apply the transition when the user remove the item.

[2017-08-12 07:31] pingshunhuangalex commented on #27
Mmm, not sure then. It's a bit nasty using jQuery to take things out as things should be data-driven in Vue.

Maybe @shershen08 can shed some light on this.

[2017-08-12 08:01] azhard4int commented on #27
You are right, jQuery is not the appropriate solution at first place, but there are certain scenarios where you might need to use the jQuery when your project is of mid-large scale like Trello etc.

[2017-08-12 10:36] shershen08 commented on #27
@azhard4int I didn't check myself the effects of `transition-group` on masonry/vue-masonry markup.
**masonry** library itself has its own animation effects so I was not planning to interfere with it.
If you have a improvement that may make it work in vue-masonry - feel free to submit a PR.

[2017-08-12 10:38] shershen08 commented on #26
@pingshunhuangalex thanks for your input. I'll make sure that code w/o error lands in fix version asap.

[2017-08-12 14:36] iamwill123 commented on #19
Hey @shershen08 I really appreciate your work on vue-masonry, and I just wanted to show my appreciate and support. I am going to create a "boilerplate" kind of thing that shows the usage of your module once I flush out my own blog app that utilizes your module. Thanks again and awesome work!

[2017-08-12 14:37] iamwill123 commented on #19
@kalidiagne Hey did you get it working? if you can get a fiddle up, we can totally get to debugging it

[2017-08-13 04:58] andreliem opened #28 "[Vue warn]: Failed to resolve directive: masonry-tile"
I've been trying to get vue-masonry to work in various Vuejs projects. I've tried blank projects from the CLI (webpack, pwa, and nuxt) and it seems like it's always failing with this error

`[Vue warn]: Failed to resolve directive: masonry-tile`
`Failed to resolve directive: masonry`

I've followed the steps verbatim and for some reason vue js cannot use the directive...

Also, I tried the demo `v

[2017-08-13 14:12] iamwill123 commented on #28
Hey @andreliem I had the same problem, I ended up installing "vue-masonry": "^0.10.5" version and it's working for me. Try npm install vue-masonry@0.10.5.
Best,
Will

[2017-08-13 21:03] andreliem commented on #28
Thanks @iamwill123, that solved my problem as well. @shershen08, any ideas on what might be going on with the latest version? Thanks for the plugin btw, very handy.

[2017-08-14 02:26] pingshunhuangalex commented on #28
https://github.com/shershen08/vue-masonry/issues/26

[2017-08-15 00:17] pingshunhuangalex commented on #26
Hi @shershen08
I know you are probably busy, but just checking if there is any update on this.

I didn't change any of your code above. All I do is compile the 0.10.6 to ES5. Thanks.

[2017-08-15 10:57] shershen08 commented on #26
@pingshunhuangalex sorry for not providing a reaction last days. I am struggling to create a build that will satisfy all the current and probable users:
There's no problem - I can built my ES6 code with webpack + es2015 preset and have a ES5 code like you posted earlier (https://github.com/shershen08/vue-masonry/issues/26#issuecomment-321959964).

[2017-08-15 11:02] pingshunhuangalex commented on #26
So is it up? I know 0.10.8 already has the compiled ES5 code, but the error in the console indicates there may be some path issue for your new webpack settings.

If you can sort Webpack setting out, I'm fine with it. If it's gonna take some effort, replacing ES6 file in src with a compiled one using the same setup as 0.10.6 would be a nice shortcut.

I'll leave the decision to you. I'm loading a c

[2017-08-15 11:02] shershen08 commented on #26
sorry, I'll write the details in some minutes, ok?

[2017-08-15 11:03] pingshunhuangalex commented on #26
Yeah sure, all fine by me 👍

[2017-08-16 08:20] shershen08 commented on #26
@pingshunhuangalex  I've included your fix into the 0.10.10 version. I hope that solution helps the current users of the plugin.
Also @andreliem @iamwill123 this is the update on the issue you've sumbitted #28

[2017-08-16 12:35] impalervl commented on #26
Hi @shershen08 . I'm still having problems even with latest version(0.10.10) and it throws the following errors. I tried clearing cache and installing previous versions(0.10.5, 0.10.6 etc) which had no effect as well. It all seemed to work fine till the friday update. I'm using webpack v3.4.0, npm v3.10.10.
Do you have any ideas what could be wrong?
![_2017-08-16_15-21-59](https://user-images.gith

[2017-08-16 22:41] matthewpull opened #30 "Uncaught TypeError: Cannot read property 'install' of undefined"
I have been using vue-masonry for some time in my project but have recently bought and Mac and now cannot get it to work. The project compiles fine but gives the following error at runtime:
[code]
When I comment out the line `Vue.use(VueMasonryPlugin)` from my main.js file, the Vue app renders correctly (although there is obviously an error on the route that contains the masonry content).
Here is

[2017-08-17 04:37] hrmshandy commented on #30
I have some problem,

use { } in import, like this:
import {VueMasonryPlugin} from 'vue-masonry';

It works for me.

[2017-08-17 08:31] shershen08 commented on #30
@matthewpull can you try this solution as @hrmshandy propoed:

`import {VueMasonryPlugin} from 'vue-masonry';`

[2017-08-17 08:31] #28 closed

[2017-08-17 08:32] shershen08 commented on #27
Any proposal on this one @azhard4int  ?
If you have new findings please feel free to reopen.

[2017-08-17 08:32] #27 closed

[2017-08-17 08:33] matthewpull commented on #30
Thanks @hrmshandy and @shershen08, that completely fixed my issue.

Interestingly, without the {} worked fine on my Windows computer for the last few months and I've deployed numerous versions of my project using it. I'm not sure if anything changed in the last week or so, but at least I have it working now.

Thanks again!

[2017-08-17 08:33] #30 closed

[2017-08-17 08:34] pingshunhuangalex commented on #26
Hi @shershen08
Just tested it out. All good.
You might want to change the documentation:
from
`import VueMasonryPlugin from 'vue-masonry';`
to
`import {VueMasonryPlugin} from 'vue-masonry';`

[2017-08-17 08:34] shershen08 commented on #30
Yes, there were changes in the lib from 0.10.6 -> 0.10.10, you can follow those in #26
I would assume this is the reason, not switch of the OS

[2017-08-17 08:35] shershen08 commented on #26
@pingshunhuangalex you're totally right. Doing it now.
Thanks again for your time helping out with this issue!

[2017-08-17 08:35] #26 closed

[2017-08-17 08:36] matthewpull commented on #30
Yeah, I thought that would have been unlikely.

I was out of the country to attend a family wedding last week so missed the change. Thanks again for your help :)

[2017-08-24 07:35] mikeevstropov commented on #19
There are no solutions?

[2017-08-28 00:18] pingshunhuangalex opened #31 "redrawVueMasonry and imageLoaded Dependency Issues in 0.10.11"
After accidentally upgrading it to 0.10.11, I noticed that `this.$redrawVueMasonry()` will trigger the below error in browser's console;
[code]
I assume this has something to do with the latest merge here https://github.com/shershen08/vue-masonry/pull/29

Meanwhile, now `Vue-masonry` also seems to require `imageLoaded` as a dependency. Some explanation would be nice here. I would recommend some ki

[2017-08-28 07:53] shershen08 commented on #31
Hello @pingshunhuangalex thanks for your message -

`imageLoaded` was a dependency for quite a while already. So I don't see Hi that could break things.

I am using the test repo I've referred in previous issue to check the functionality before releasing new versions. But I would agree to have more integration tests (w different versions / setups) would be a safe measure to not to break things in

[2017-08-29 15:54] faahren commented on #31
Hi,
I have the same problem, it looks like it it indeed due to the ImageLoaded Instance in the masonryTile directive. I fixed it by removing it in your code.
`  Vue.directive('masonryTile', {

    inserted: function inserted(el) {
      Events.$emit(EVENT_ADD, {
        'element': el
      });

      new _imagesloaded2.default(el, function () {
        Events.$emit(EVENT_IMAGE_LOADED, {

[2017-08-29 16:36] shershen08 commented on #31
I intend to add a check for imageLoaded asap today.

[2017-08-29 17:55] faahren commented on #31
I still had a prob so I rolled back to 0.10.9 atm.

Thanks for the good work.

Cheers
G

[2017-08-31 22:15] shershen08 commented on #31
direct calling Vue.redrawVueMasonry() after #29 is not working
now that should be done in following way:
[code]
it's my miss that I didn't check that.
**I'll update the docs and release a updated version tonight**

see example here: https://laracasts.com/discuss/channels/vue/how-to-encapsulate-common-functionality-in-vuejs

[2017-09-01 00:24] pingshunhuangalex commented on #31
Hi @shershen08
Just tested everything out. It's all good now.
I noticed there is a typo in the documentation below
![image](https://user-images.githubusercontent.com/17170199/29950485-73855fb2-8eff-11e7-9741-5fbcf6e4b011.png)
It should be `this.$redrawVueMasonry()` instead of `this.redrawVueMasonry()`

Meanwhile, it'll be nice to have a proper commit message instead of the issue number as GitHub w

[2017-09-03 07:30] shershen08 commented on #31
Updated a library to 0.10.12 - https://github.com/shershen08/vue-masonry/commit/b55e4572d5bcc0067e670e7bd6b152dccb4632c0

[2017-09-03 07:30] #31 closed

[2017-09-11 08:50] shershen08 commented on #19
@kalidiagne do you maybe have a code demo of the problem, not the screenshot?

[2017-09-11 15:20] kalidiagne commented on #19
hi @iamwill123 @shershen08
I already see the message, i can replicate it and share it on codepen tomorrow.

Thanks for support!

[2017-09-14 14:31] dib258 opened #33 "Add some loading experience before all pictures are loaded"
Hi there,

Thanks for this package that encapsulate masonry for VueJs.

I'm facing a little problem where I want to make some loading gif for each image or for all pictures loaded by masonry. And in the package I see you use imageLoaded and you emit events when it's done.

Do you think of a way to either listen to this event in my own Vue instance or a way to easily make loading experience before

[2017-09-14 16:36] shershen08 commented on #33
Internally there a `imageLoaded` lib used for defining this stage when all content images are in place already.

Maybe listening for the event `vuemasonry.imageLoaded` may help.

Let me know is if it worked out

[2017-09-14 18:29] dib258 commented on #33
That's something I tried to do.

`<div v-masonry-tile class="item" v-for="(item, index) in blocks" v-on:vuemasonry.imageLoaded="test">
   <div>
       <img :src="item.url" :alt="item.caption" class="img-responsive">
   </div>
</div>`

Where I created a test method with some `console.log('test')` but nothing happens...

And in the pugin the Events are handled in another Vue instance apparently. May

[2017-09-15 07:43] shershen08 commented on #33
I see @dib258
I'll try to invest some time into this coming days and get back to you.
If you have some specific proposal - please feel free to describe the implementation here or create a PR

[2017-09-15 08:54] dib258 commented on #33
Thank you @shershen08 !
I'll try to find a solution also if something comes to my mind !

[2017-09-15 17:01] kalidiagne commented on #19
Hi @iamwill123  @shershen08

I can't replicate it in JS Fiddle, i paste here my code.
I hope it will be comprensibile.

`
<template>
  <div id="blog-homepage">
    <page-header
      title="Blog"
      subtitle="Un modo semplice e comodo per essere informati in tempo reale sulle news della Federazione Italiana Triathlon, e non solo.">
    </page-header>
    <div class="section">
      <div class="

[2017-09-16 16:38] iamwill123 commented on #19
Hey @kalidiagne I'm looking at the jsfiddle but nothing is showing up, I actually created something I will share that handles RSS feeds similarly to how you have it but more componentized. I'm going to get the repo setup and then I'll link it. Meanwhile, the fiddle is not showing up but I do see a flicker of it briefly then it disappears.

[2017-09-19 06:18] kalidiagne commented on #19
HI @iamwill123 thank you for your support!
I update the fiddle, now it's working, but the bug it's not replicable, everything work properly.
So i update my code with the fiddle code but error still present.
I share you a screen

<img width="714" alt="schermata 2017-09-19 alle 08 09 13" src="https://user-images.githubusercontent.com/20865711/30578154-c2cf7cee-9d12-11e7-8fc0-ff89b4e0e98d.png">

[2017-09-19 16:00] evolutionjay opened #34 "columnWidth is querySelector option???"
[code]
I am try `column-width`, and throw error:
[code]

[2017-09-20 07:18] shershen08 commented on #34
@evolutionjay `column-width` attribute **only** works as string with query selector for an element with specified width. See the original masonry docs, it's another option - https://masonry.desandro.com/options.html#columnwidth

Also you can see in in the vue-masonry README:

[2017-09-20 13:30] evolutionjay commented on #34
@shershen08  ye, I have already seen "https://masonry.desandro.com/options.html#columnwidth" where "columnwidth" can be "number".  So I think "columnwidth" should be able to ` [Selector, Number]`

[2017-09-20 13:59] shershen08 commented on #34
You're totally right. I should be able to be [Selector, Number].
But currently it's not and it's stated in the readme.

[2017-09-20 19:04] ducdev opened #35 "Strange error when deploy to Heroku, using with Meteor + Vue"
![image](https://user-images.githubusercontent.com/3524016/30662349-fca509de-9e70-11e7-82a6-6ae4f97c7231.png)
Hello, it's working well on development (with devDependencies) but not on production bundling.

[2017-09-20 19:32] shershen08 commented on #35
Hello @ducdev
I am not sure I can give you some help with this case - without a code to reproduce the case it's hard to say in which piece of code the problem lies. I would recommend to thoughtfully debug the code to allocate the error.
Please update me if you will have clearer pointers on the vue-masonry plugin code.

[2017-09-20 19:45] ducdev commented on #35
I think the issue is related to vue-masonry-plugin.js as it's displayed in the error log. But when I located the file, it's minified and obfuscated.

[2017-09-20 19:48] ducdev commented on #35
And when Meteor bundle app, it continue to minify it once more. I think the file will be broken. Not sure.

[2017-09-20 19:55] shershen08 commented on #35
I would recommend to enable source maps that see the exact line in the minifyed JS file

[2017-09-20 20:01] ducdev commented on #35
This is what I can see.
![image](https://user-images.githubusercontent.com/3524016/30664811-28979db0-9e79-11e7-8301-978802508273.png)

[2017-09-21 10:05] ducdev commented on #35
How is it going @shershen08 did you locate the issue ?

[2017-09-21 10:09] shershen08 commented on #35
@ducdev sorry no, I though you're trying to do that

[2017-09-21 10:25] ducdev commented on #35
Do you have any idea why the variables were naming like that ?

[2017-09-21 11:48] shershen08 commented on #35
it's a typical when JS file is minimised/uglified. Can you try to disable it (https://stackoverflow.com/questions/23841145/running-meteor-js-in-production-without-combining-and-minifying-js-files) and see where's the problem then?

[2017-09-21 20:13] Itemshopp opened #36 "Temporary duplicate when adding a new element in the Masonry Grid"
Hi all,

I'm creating a Masonry grid and the elements are pushed to an array from a json. Everything's fine until the moment I prepend a new element to this array. I use a polling system that listens every 10 seconds and grab new elements in a json. Then prepends thoses images at the beginning of the Masonry Grid.

I tried adding one new image. And when it's prepended to the array and pops in maso

[2017-09-22 04:16] ducdev commented on #35
Hi @shershen08 it seems the issue is caused by default `standard-minifier-js` package of Meteor, and I've changed it to a customized package and the issue is solved. Thanks for your time on creating `vue-masonry` and supporting me.

[2017-09-22 05:48] shershen08 commented on #35
OK, great to hear that it was solved!

[2017-09-22 05:48] #35 closed

[2017-09-22 05:49] shershen08 commented on #19
@kalidiagne so does the issue still exist?

[2017-09-22 14:13] shershen08 commented on #36
hello @Itemshopp thanks for this a really detailed description.

What I could recomend to check, at least the part:

maybe that has to do with reactivity in Vue(see http://jsfiddle.net/xb5h545w/1/ and https://medium.com/js-dojo/reactivity-in-vue-js-and-its-pitfalls-de07a29c9407), and using `Vue.set` may help

[2017-09-22 14:48] Itemshopp commented on #36
Thanks for your answer, but your jsfiddle is unreadable. I added Vue.js as framework but it still doesn't display anything. Do you know what I can do to make it work ?

[2017-09-22 15:20] Itemshopp commented on #36
I figured out something thanks to your article.
The Vue.set function can be useful when you modify an object after Vue has rendered.

In my case, here, prepending or appending is the same action. It should be problematic either ways but in the appending phase everything works well but the prepending phase goes wrong.
( as I said : When prepending, it duplicates the first tile a the top left masonr

[2017-09-22 20:35] iamwill123 commented on #19
@kalidiagne Hey, here's the [repo](https://github.com/iamwill123/vue-masonry-starter-pack) for the starter pack, I'm not sure what the issue is on your side, but check it out. Heres the live [demo](https://vue-masonry-starter-pack.netlify.com/). It may point you in the right direction.

-Will

[2017-09-29 09:01] edhv opened #37 "New additions don't get loaded"
As the title hints, when I add new data no new masonry tiles are added.
`this.$redrawVueMasonry()` also seems to do nothing. I added a button that triggers this to be sure.
However, when I resize my browser window my new additions magically appear.

[2017-09-29 11:55] edhv commented on #37
Hmm, I may have found the solution.
My content is an array, and I updated that array using `Array.prototype.push.apply`, mergin old content and new content together.
However, if I just loop through my new content and add it one by one, it works just fine.

[2017-09-29 11:55] #37 closed

[2017-10-30 07:36] kalidiagne commented on #19
@iamwill123 Hello, the issue is no longer present, i think it was caused by imported css.
Thank's to everybody for support!

[2017-10-30 20:46] shershen08 commented on #33
thanks for updating on this one @dib258

[2017-10-30 20:47] shershen08 commented on #19
thanks for updating on this one @kalidiagne

[2017-10-30 20:47] #19 closed

[2017-11-02 19:54] trickstival opened #38 "How to use Fitwidth"
I didn't understand how doest fitWidth works. Can I center the masonry items with it?

[2017-11-03 20:05] youngad6 opened #39 "Vue is bundled in"
When using this plugin with a standard npm/webpack setup it builds with dist/vue-masonry-plugin.js which has Vue bundled. Either fix the package.json to reference the source file or set Vue as an external library in the plugin's webpack config.

[2017-11-06 09:41] shershen08 commented on #38
You can see the difference in the demo here: https://jsfiddle.net/shershen08/qnfgv5vw/7/
This prop is not about the items inside, it's

You also may want to take a look at the original lib `fitWidth` option description: https://masonry.desandro.com/options.html#fitwidth

Hope that helps

[2017-11-06 09:41] #38 closed

[2017-11-06 09:53] shershen08 commented on #39
can you be more specific ?
by

  you mean  smth like
[code]
how that should help?

[2017-11-06 09:58] shershen08 commented on #36
Thanks for the efforts @Itemshopp
To have some useful result improvements we should have / create a test case with demo in code.
Do you have any solution for that one or an idea how things could be fixed ?

[2017-11-07 14:25] jaideepdas opened #40 "How to set column and gutter width"
If you could elaborate how to use the gutter and column-with properties. I need to set gutter width to 12px

[2017-11-07 14:26] shershen08 commented on #40
please see this one https://github.com/shershen08/vue-masonry/issues/34

[2017-11-07 14:31] jaideepdas commented on #40
@shershen08 i saw that one but not clear how to set the width, this is my html
`<div v-masonry transition-duration="1s" item-selector=".fluux-grid-item" class="fluux-grid" gutter=".fluux-grid">
                  <div v-masonry-tile class="fluux-grid-item" :data-id="doc.id()" v-for="doc in documents">
                    <router-link :to="{name: 'Document', params: {id: doc.id()}}">

[2017-11-08 08:34] shershen08 commented on #40
You need to create an element with a width that is requred in CSS. The reference this element selector in the column-width property like so `column-width="#test"`

[2017-11-08 08:34] #40 closed

[2017-11-08 08:53] jaideepdas commented on #40
Thanks

On Wed, Nov 8, 2017 at 2:04 PM, Mikhail Kuznetcov <notifications@github.com>
wrote:

--
Have a nice day.

[2017-11-09 12:24] eklundchristopher commented on #39
Yes, exactly like that.

At the moment, if you're using Vue for other stuff besides Vue-masonry, Vue is loaded twice thanks to the compiled file being used rather than the source file (which would cancel out the different Vue's and only include it once).

[2017-11-13 15:54] hayaato commented on #36
I saw that vue-masonry did a Vue.nextTick() to call his redraw function, I had the same problem.
I did
[code]
And it solves my problem
Hope it will help :)

[2017-11-13 16:02] shershen08 commented on #36
@Itemshopp since there was no feedback on this from you and @hayaato posted a what helps to work around I am closing this one.

[2017-11-13 16:02] #36 closed

[2017-11-15 10:12] zArubaru commented on #33
@dib258, Disclaimer: I'm quite new at Vue.js.

But I had a similar situation, though I'm revealing images after they've been loaded via get/JSON.

I'll give you part commented sections and part production code, as my situation was a bit different.

I made a component:

[code]

and the file the component is used in:

[code]

Please ask if you need a more complete example.

[2017-11-21 14:06] hurradieweltgehtunter commented on #39
i think i got the same problem. Console is telling me:
![image](https://user-images.githubusercontent.com/16665512/33076601-70f757ce-cecd-11e7-8a02-c90f17bdf289.png)

If I run webpack in prod mode, the vue-masonry text still persists while the other is gone.

[2017-11-21 14:08] shershen08 commented on #39
I am creating a branch to fix this in coming day

[2017-11-21 15:27] shershen08 commented on #39
I've updated to 0.10.14 to address this issue.
@youngad6 @hurradieweltgehtunter  let me know if it's now correct

[2017-11-21 15:45] eklundchristopher commented on #39
@shershen08 I can confirm it works, thank you very much!

[2017-11-21 15:47] #39 closed

[2017-11-22 08:16] hurradieweltgehtunter commented on #39
@eklundchristopher could you tell me how you made it work?
I'm getting
![image](https://user-images.githubusercontent.com/16665512/33116607-b368d590-cf65-11e7-84b5-55ec5836f7b2.png)

I updated vue-masonry and rebuilt my project. Do I need to edit smth?

[2017-11-22 09:19] shershen08 commented on #39
@hurradieweltgehtunter can you give more details? should I reopen?

[2017-11-22 12:13] eklundchristopher commented on #39
@hurradieweltgehtunter That's not an issue I encountered, I'm afraid. It worked out of the box for me.

[2017-11-22 12:31] hurradieweltgehtunter commented on #39
@shershen08 i would love to give you details but I don't know what exactly.

my webpack config:
[code]

And package.json:
[code]

[2017-11-22 12:33] eklundchristopher commented on #39
It may be worth noting that I am using `Laravel Mix v1.6.1` and not just pure webpack.

[2017-11-22 12:42] hurradieweltgehtunter commented on #39
error is thrown on this line in my index.js:
[code]

[2017-11-22 12:56] shershen08 commented on #39
try to update to just published **v 0.10.15**
that coulcd be due to the typo https://github.com/shershen08/vue-masonry/pull/42

[2017-11-22 13:23] hurradieweltgehtunter commented on #39
updated and did a clean new install of npm packages but errors is still occuring.
removing `Vue.use(VueMasonryPlugin)` makes the error disappear :/

[2017-11-22 13:48] hurradieweltgehtunter commented on #39
found a comment here: https://github.com/shershen08/vue-masonry/commit/4e064ef4300544e83e613ebf17ceee546aa93fbf#diff-168726dbe96b3ce427e7fedce31bb0bc

and changed
`import VueMasonryPlugin from 'vue-masonry'`
to
`import {VueMasonryPlugin} from 'vue-masonry'`

it works now

[2017-11-22 13:55] sandrooco opened #43 "Why are Events bound to a new Vue instance? This confuses vue-devtools."
Related to [#39](https://github.com/shershen08/vue-masonry/issues/39):

The code looks like this:
[code]
Why is `Events` a new Vue instance? This makes vue-devtools malfunction because it thinks the `vue-masonry` instance is the main one...

[2017-11-22 14:00] shershen08 commented on #43
It was done using this proposed approach:
https://vuejs.org/v2/guide/components.html#Non-Parent-Child-Communication

[2017-11-22 14:01] shershen08 commented on #39
OK, good @hurradieweltgehtunter

[2017-11-22 14:07] hurradieweltgehtunter commented on #39
thanks for your time

[2017-11-23 09:20] shershen08 commented on #43
is there a better proposal with that @sandrooco ?
feel free to open or create a PR

[2017-11-23 09:20] #43 closed

[2017-11-23 09:28] sandrooco commented on #43
@shershen08 No probably not - there's something wrong with the package though. I don't yet know what..

[2017-11-30 10:45] Licoti opened #44 "Images overlaping"
Hi there,

I have problem of image overlaping, (like this issue https://github.com/shershen08/vue-masonry/issues/9, but i have no plugin) it's because items change sizes at the same time as the images loads

I saw this :
[code]
But there is always a problem, because this doesn't matter when items change size when the page is loading :(

It's possible to fix the problem to use the on progress metho

[2017-12-06 01:52] camilodelvasto opened #46 "Latest version not working with nuxt"
I'm having an issue with the most recent version and nuxt RC-11: https://github.com/nuxt/nuxt.js/issues/1359
The previous version doesn't produce the error. Here a glitch: https://glitch.com/edit/#!/hanging-angle

*Thanks for the great work!

[2017-12-06 16:39] shershen08 commented on #46
Sorry @camilodelvasto I dont' see the any log or code on thise addres, only
[code]
Can you use http://jsfiddle.net or https://codepen.io/ or paste in here to share code ?

[2017-12-06 16:43] shershen08 commented on #44
Hello @Licoti
current version uses the second approach from this https://masonry.desandro.com/layout.html#imagesloaded
it `initialize Masonry after all images have been loaded.`

I'll try to experiment with proposed option coming days and will provide an update

[2017-12-06 17:22] camilodelvasto commented on #46
@shershen08 Glitch is great for this, much better than codepen/jsfiddle as you can add node modules.

To reproduce the issue: check the activity logs, displaying: `"export 'default' (imported as 'VueMasonryPlugin') was not found in 'vue-masonry'`

To remove the error: change the vue-masonry version in package.json to `0.10.5` —That removes the error.

[2017-12-07 09:16] Licoti commented on #44
Ok !
For information, i have installed Vue-imageloaded (https://github.com/David-Desmaisons/Vue.ImagesLoaded) and it's good.

[code]

[code]

[2017-12-07 11:47] shershen08 commented on #44
yes, that's maybe a smart to replace the original ImagesLoaded with the Vue wrapped one

[2017-12-07 13:51] sreecodeslayer opened #47 "Is it possible to use this plug-in as script distribution?"
How can I use this plug-in without actually configuring npm to serve the files?
Like, can I use this the way vue-router and vue-resource are used, by simply fetching via a script tag?

The reason why I ask is, coz I normally develop in Python environment, and all my backend servers are in Flask.

[2017-12-07 20:55] shershen08 commented on #47
not at the moment. but it's a nice to have feature, I'll check if that's possible to add asap

[2017-12-07 21:02] shershen08 commented on #46
I've managed to make the glitch.com work - it was a proxy issue on my side.

And the right way to use is
`import {VueMasonryPlugin} from 'vue-masonry'`
mind the brackets, as stated in the README. Use [Import a single export from a module](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)

[2017-12-07 21:02] #46 closed

[2017-12-08 04:37] sreecodeslayer commented on #47
I see, anyways, I got it to work by building it by changing the webpack build conf as :

[code]
And then after building this one with webpack, I was able to use the file from dist in script tag, as

`Vue.use(VueMasonry.VueMasonryPlugin)`
Not quite sure if that's the way to do, but it works with the `import` statements :thinking:

[2017-12-08 07:08] shershen08 commented on #47
Yes, @sreecodeslayer that's the totally legit approach I would be using too. But my point was that current pre-built vue-masonry doesn't have it.

[2017-12-08 07:36] sreecodeslayer commented on #47
ah, gotcha, thanks :wink:

[2017-12-13 11:12] MateuszPaulski opened #48 "Destroy masonry on unbind"
Hi
I think there is a problem with resize events not being removed after directive unbind. Its creating new resize event every page view. I fixed it by adding another event that is fired in unbind method.
[code]

[2017-12-13 18:11] shershen08 commented on #48
thanks for the input @MateuszPaulski
I'll take a look at this issue. if you have some demo code to reproduce - would be great.

[2017-12-21 19:05] shershen08 commented on #48
I've created a branch with your fix @MateuszPaulski
https://github.com/shershen08/vue-masonry/tree/fix/39-remove-bundled-vue
can you have a quick look ?

[2017-12-24 21:43] #33 closed

[2017-12-28 11:43] sidjainn opened #49 "Vue-masonry default-render distorted, corrects on modifying viewport size, using with vuetify"
<img width="1280" alt="screen shot 2017-12-28 at 10 14 16 am" src="https://user-images.githubusercontent.com/16212304/34400499-00453f52-ebb8-11e7-9287-f56f641857eb.png">

[2017-12-28 12:09] shershen08 commented on #49
Can you please provide the code sample, which properties of Vue-masonry plugin were used?

That also may have to deal with imagesLoaded settings, referenced here https://github.com/shershen08/vue-masonry/issues/44

[2018-02-08 13:19] justijndepover opened #50 "Items append from top left"
I use this plugin in one of my projects. As I scroll down and new items append to my page, they transition in from the top left of my screen instead of the bottom.

[This](https://stackoverflow.com/questions/16192578/jquery-masonry-animation-doesnt-load-from-bottom) stack overflow question suggested to use `isAnimate = true` when you instantiate the Masonry plugin.

I tried by changing the source

[2018-02-12 16:42] mAAdhaTTah opened #51 "Distribute CJS version?"
Browserify is choking on this because it can't yet handle ESM. The `src` appears to be mostly ES5 code except for the import statements; pointing it at the `dist` grabs the version that comes with Vue bundled, so unfortunately, neither of versions currently available on npm can be consumed by browserify. Could you distribute a CJS version as well?

[2018-02-22 13:56] tombalev opened #52 "Nesting v-masonry-tile in v-masonry causing slowdown"
This is causing a significant slow down after several redraws (via router link for example). The issue seems to be in nesting v-masonry-tile inside of v-masonry like in docs:
`<div v-masonry transition-duration="0.3s" item-selector=".item">
    <div v-masonry-tile class="item" v-for="(item, index) in blocks">

    </div>
</div>`

## Test scenario:
Array of 6 objects, setup as above

### First run:

[2018-02-22 13:59] shershen08 commented on #51
Good point @mAAdhaTTah
I'll look into that asap

[2018-02-22 14:01] shershen08 commented on #52
that looks like a major issue!
thanks for bringing it in @tombalev
do you maybe have a simplified repo/app setup to reproduce this issue ?

[2018-02-22 23:23] tombalev commented on #52
not at the moment, but you can do something simple like vue-cli with vue-router, place vue-masonry grid on one page and then put console.log to vue-masonry masonry.plugin.js functions. This will get triggered on every router change X times.

Is there any significant use for that v-masonry-tile anyway? Seems to be working alright without it.

[2018-03-14 18:03] kotuck opened #53 "Two mistakes"
Hello, i like your plugin. But i found two mistakes.
1). Please replace all value "const" to "var". It's not supported in old browsers.
2). Don't import Vue in your plugin, because bundle will have 2 copy of Vue (from their app and your plugin).

[2018-03-16 09:58] shershen08 commented on #53
Thanks for your input @kotuck
But referencing your second point

I am using it in the plugin code, because I make use of the following features of Vue instance

- Events = new Vue({})
- Vue.nextTick
- Vue.directive

[2018-03-16 10:09] shershen08 commented on #53
Thanks for the input on second point, it was referenced for several times already, so finally fixed it.

[2018-03-16 10:09] #53 closed

[2018-03-16 13:16] shershen08 commented on #51
hey @mAAdhaTTah do you have an idea/example how that may be set up in the package.json file so that two versions of library are delivered ?

[2018-03-16 14:13] mAAdhaTTah commented on #51
Offhand, this might be a useful example, from the framework I'm working on: https://github.com/valtech-nyc/brookjs/tree/master/packages/brookjs It's in a monorepo overall, but that should give you an idea of how I distribute `cjs`, `esm`, as well as a browser-friendly `dist` (although that last one I'm less sure is ideal).

[2018-03-16 18:36] tetreault commented on #1
Hello, I'm having a similar issue. The plugin is working as expected if all the project tiles share the same dimensions, however on one of our sites I have a design where `.project-tile-container:nth-of-type(1)` needs to be 100% width, and then the rest should stack into two columns underneath it.

What is currently happening is the first project tile is 100% width as expected, and then the rest s

[2018-03-16 18:39] tetreault commented on #1
More specifically, I see that after making my first instance of the project tile 100% width every subsequent tile (for some reason) gets  `left: 0px` and I'm not too sure why.

[2018-03-16 19:24] tetreault commented on #1
I suspect the first full width element is affecting how masonry determines column width, and that I should render the full width item separately from the rest of the masonry items

[2018-03-19 02:34] kotuck commented on #48
Hello, I have a problem with this code.  Can you choose one method to destroy component, please.
I use Nuxt and when user click to router link that what he sees: masonry off (images still showing,in a column), delay ~100ms, then router changes.
I deleted one (unbind) now everything works correctly.

[2018-03-19 09:11] shershen08 commented on #48
can you please post more details, code snippet maybe which block produces problems.
creating a branch + PR would be even better

[2018-03-31 19:00] pauljakobwhite opened #55 "Masonry tile inside child component / redraw not working"
Hello,

I am trying to nest the masonry tile/masonry item inside of a component that is a child of the container. i.e:

Container Component: ServerNodes
[code]

Child Component: ServerNode
[code]

Essentially, when you click the child component servernode masonry item, it expands the size of the of that masonry item to view more details and fires the redraw function so everything adjusts according

[2018-03-31 19:05] #55 closed

[2018-03-31 19:07] pauljakobwhite commented on #55
Closed issue, it was simply a timing issue, the expanded size wasn't executing before the redraw fired

[2018-04-04 16:37] Hadrien-DELAITRE commented on #48
Hello @shershen08,

I opened a PR https://github.com/shershen08/vue-masonry/pull/57 to solve performance issues about event listeners. It's a memory leak especially when component is mounted several times (e.g. in an SPA environment)

[2018-04-04 17:13] Hadrien-DELAITRE commented on #52
Maybe related to https://github.com/shershen08/vue-masonry/pull/57

[2018-04-06 08:32] shershen08 commented on #48
Thanks for your time @Hadrien-DELAITRE

[2018-04-25 18:15] Nisthar opened #58 "SSR support"
I am trying to use it in nuxtjs. I am looking for a package that supports SSR.

Does this support SSR?

[2018-05-02 11:50] matt-shine opened #59 "Multiple instances issue"
I have two (vuetify) tabs, each of which has a masonry element. If I add an item to the active tab and then switch tabs, all elements of the newly selected tab are stacked on top of each other.

I'm calling redrawVueMasonry ~~on the add~~, when a tab switch happens, but it doesn't seem to fix the problem... Any ideas?

edit: I appreciate your work on this package btw!

[2018-05-07 10:24] shershen08 commented on #58
Sorry for late reply @Nisthar
In the readme there's a section on how to configure vue-masonry with Nuxt - https://github.com/shershen08/vue-masonry#nuxt-ssr-implimentation

Did you try that?

[2018-05-07 10:24] #58 closed

[2018-05-07 10:26] shershen08 commented on #59
@matt-shine I'll try to reproduce the case and get back to you asap

[2018-05-07 10:27] shershen08 commented on #50
Any updates on this one @justijndepover ?

[2018-05-07 16:23] Nfinished opened #60 "Cards Stacking on top of each other"
Haven't been able to reliably reproduce it yet, but in these two examples cards are occasionally being positioned on top of each other. Anyone else experiencing this?

![screen shot 2018-05-07 at 11 27 15 am](https://user-images.githubusercontent.com/1719791/39712477-2f3a0b22-51f1-11e8-8a8d-c2f25c9b381b.png)

![screenshot_20180507_122101](https://user-images.githubusercontent.com/1719791/39712515-

[2018-05-07 16:35] shershen08 commented on #60
may that be smth related to #9  ?

[2018-05-07 16:49] Nfinished commented on #60
That's an interesting suggestion, those lines of text each start off as a single line before they're populated.

Might calling `$redrawVueMasonry()` after the text has rendered fix the problem, or would that be too late?

[2018-05-07 16:50] Nfinished commented on #60
Doesn't work.

[2018-05-07 16:59] Nfinished commented on #60
@shershen08 After some more testing it doesn't seem to be related to height recalculations, I could reproduce this 8 times out of 10 with tiles that had a static height.

[2018-05-07 17:01] shershen08 commented on #60
8/10 is good enough, now it would be nice have a files that I could run to see the issue

[2018-05-07 18:12] Nfinished commented on #60
It looks like the root cause may have been a computed function masonry was relying on was recomputing too rapidly (even with a forced redraw), made sure it only computed once and everything seems to be running smoothly.

[2018-05-07 18:39] #60 closed

[2018-05-17 08:26] JZubero commented on #50
Having the same issue. @shershen08 it seems like this was a known bug in v2 which should have been fixed from v3 on (https://github.com/desandro/masonry/issues/249#issuecomment-19437319). Any ideas / suggestions on that?

[2018-05-17 16:42] LepuavkoDV opened #61 "when deleting item from gridItem array, always last element is deleted from masonry grid"
[grid here](https://github.com/LepuavkoDV/vuenotes/blob/master/src/components/notes/Grid.vue)
[delete method here](https://github.com/LepuavkoDV/vuenotes/blob/master/src/components/notes/Note.vue)
[handler here](https://github.com/LepuavkoDV/vuenotes/blob/master/src/stores/notesStore.js)

when im deleting an item, always last one is deleted from masonry grid, which leads to errors.

full source co

[2018-05-17 20:54] #61 closed

[2018-05-19 09:02] frutality commented on #44
@Licoti `imageProgress` method in your case working as expected? In my case it's fired only once, when all images loaded. This results in images overlapping until all images are loaded. Even more, only `instance` is defined. `image` is `undefined` all the time.

[2018-05-19 22:06] shershen08 commented on #59
@matt-shine I could reproduce your problem.
this happens when the masonry content in the not-visible tab then becoming shown again the masonry bindings seem inactive. however the content absolute positioning inlined CSS that masonry plugin adds - is still there, which looks like a good sing to me.
I'll try to investigate a bit more what could be the solution and get back to you

[2018-05-19 22:12] shershen08 commented on #50
@JZubero
in the vue-masonry deps, a much later version of the masonry lib is used - https://github.com/shershen08/vue-masonry/blob/master/package.json#L18 I don't think it's related.

Looks like what you are searching for is a appended/prepended (https://masonry.desandro.com/methods.html#appended) methods that are in masonry API. Unfortunately those are not yet present in current vue-masonry

[2018-05-21 11:56] panstromek opened #62 "[Request] masonry exact versions"
Could you please specify masonry and imagesloaded versions better in package.json? "latest" modifier is not safe and makes irreproducible builds on different machines. Latest version number with ^ is enough imo.

For some reason npm on my co-worker's machine completely removes those dependencies from lockfile and produce incorrect installation.

[2018-05-21 12:40] panstromek commented on #62
Also "masonry" dependency is useless, I guess? It's different library, not related to masonry-layout

[2018-05-22 23:07] shershen08 commented on #62
Good point, will look into this shortly

[2018-05-31 11:38] shershen08 commented on #62
fixed in https://github.com/shershen08/vue-masonry/commit/77446ed2ee4a7bb75a48f6f47350ea0c3b76171e

[2018-05-31 11:38] #62 closed

[2018-05-31 15:32] panstromek commented on #62
Thanks. Immediately noticed, npm started installing correctly.

Not sure what was wrong though, same on my new computer, npm just removed imagesLoaded dependency when I was trying to run npm install.. Not sure it is a bug in npm or intended behaviour, if I should report it or what...

[2018-05-31 15:52] shershen08 commented on #62
imagesLoaded should stay since it is in package.json.

[2018-06-04 16:42] wonyeouuu opened #65 "Suggestion: Use directive binding to pass masonry options"
Hi @shershen08 , this is a good module and I really appreciate your good work.

I think this module can be further improved with passing masonry options with [vue directive binding](https://vuejs.org/v2/guide/custom-directive.html#Directive-Hook-Arguments). With the current implementation, options passed into masonry can only be interpreted as strings (e.g. setting `:gutter="10"` on the template w

[2018-06-09 12:17] shershen08 commented on #51
hey @mAAdhaTTah CJS should be available ion a current version as well
with following syntax
`var VueMasonryPlugin = require('vue-masonry').VueMasonryPlugin`
let me know if that helped

[2018-06-09 12:51] shershen08 commented on #47
Now as from `0.11.3` it's fully available solution, check README

[2018-06-09 12:51] #47 closed

[2018-06-09 12:52] #51 closed

[2018-06-14 09:35] panstromek opened #66 "Named import not working in 0.11.3"
Pretty weird bug. After updating from 0.11.2 to 0.11.3 `import { VueMasonryPlugin } from 'vue-masonry'` leaves `VueMasonryPlugin` undefined. Even though module is installed, named import exists in the file and even IDE resolves it and you can ctrl+click to the definition.

If I change it to default export like
`import  VueMasonryPlugin  from 'vue-masonry'`
It imports something, but directive is no

[2018-06-14 10:28] shershen08 commented on #66
Will look into this today asap guys,

[2018-06-14 12:41] shershen08 commented on #66
It's due to this seeing I've added in 0.11.3 https://github.com/shershen08/vue-masonry/blob/master/package.json#L6
I've probably overlooked the consequences

[2018-06-14 12:44] shershen08 commented on #66
I'll publish 0.11.4 to NPM tonight

[2018-06-16 07:57] shershen08 commented on #66
@ibanjo and @panstromek please update, I've just published 0.11.4

[2018-06-20 17:45] shershen08 commented on #49
Closing due to being outdated and inactive

[2018-06-20 17:45] #49 closed

[2018-06-28 10:32] kotuck commented on #48
Hello, @shershen08! I'm sorry that I did not answer for so long. Why are you use masonry.destroy() function in masonry.plugin.js? It destroys the grid right before moving to another page. Could you remove this?
You can see how it works here. https://masonry.desandro.com/methods.html#destroy

[2018-07-01 09:10] luminous8 opened #67 "Conditional activation"
Hi Guys,

Is there a way to activate v-masonry only when a value is equal to true?
Something like this `v-bind:valueToTest="v-masonry"`?

Thanks

[2018-07-07 07:12] shershen08 commented on #67
@luminous8 nothing like this is present at the moment.
Can you give more details on use case of this?

[2018-07-07 08:18] luminous8 commented on #67
@shershen08 Because I have to views : a squared grid and a pinterest-like grid and I don't want masonry on the squared-one. I fixed it with a v-if / v-else but that add more code lines

[2018-07-10 10:48] SvenC56 opened #68 "Masonry ignores Flexbox Grid"
Hi I have a small problem with the grid elements width.
I use Vuetify (with Nuxt.js) which provides a flexbox based grid system [https://vuetifyjs.com/en/layout/grid](https://vuetifyjs.com/en/layout/grid).

[code]

As soon I inject the masonry grid all of the items use their minimal width and ignore the provided grid.

If I set a px based width it works again as expected.

Is there any solution fo

[2018-07-11 07:37] shershen08 commented on #67
Yes I'd suppose v-if or v-show could be enough in this case.
Feel free to create a PR if you like.
Closing for now

[2018-07-11 07:37] #67 closed

[2018-07-13 15:08] nicroto opened #69 "How to I change the type of transition (not just duration)?"
Sorry for the basic question, but I don't see any docs (here or on the desandro repo) about the type of transition to use. Is there any way to change that?
Thanks.

[2018-07-31 19:17] nikocraft opened #70 "on infinite loading it takes sometimes 3-5 seconds for images to appear"
I've implemented infinite loading with this plugin and as I scroll down I load new images. All the images are already cached by the browser so browser is not waisting time loading them again but I can get a delay of 3-5 seconds before any action happens on screen. This can lead to user thinking that there are no more images and UI will feel unresponsive to user.

here is a video that demonstrates

[2018-08-03 09:00] shrimpbighead opened #71 "some mobilBrower would warning this——use const in strict mode"
this warning makes the page not rendered successfully. how to use the babel-polyfill to transform es6 into es5 .

[2018-08-03 15:46] shershen08 commented on #71
@shrimpbighead  not very clear message.
Please describe what use case you have (build system, node, vue.js versions) ?
What exactly fails in your setup?

[2018-08-03 15:51] shershen08 commented on #70
thanks for bringing it up @nikocraft

On the video it's clearly visible the delay between the scroll action and images being shown.
With this amount of images as in the demo I can't imagine this to be a delay due to some updates in the library. seems more like a delay of all images being shown until the last image in the list is loaded.

To debug this would be nice to have a reproduced issue in co

[2018-08-03 15:52] nikocraft commented on #70
I should add that we found out that this only happens on chrome and not on any other browser. I will see what I can do about reproducing it as a demo, need some time for that :)

[2018-08-03 15:54] shershen08 commented on #69
Since this is a Vue.js wrapper on top of the desandro's library it doesn't add new options to what;'s in the original one: https://masonry.desandro.com/options.html.

TL;DR
You, can't do that

[2018-08-03 15:54] #69 closed

[2018-08-08 11:56] nicroto opened #73 "First page of items determines the number of columns."
I am using vue-masonry as part of an infinite-scroll component.

The items I am pulling up are with different width and height.

The issue I am having is: when the first page of displayed items has primarily/only large items, they fixate the column number to a smaller number of columns, and then even if all items that are pulled consecutively are of smaller size, they get rendered within that same

[2018-08-08 12:04] nicroto commented on #73
Figured it out.

I have to use the column-width=".item-size-0" where `.item-size-0` marks the items with the smallest possible size.

[2018-08-08 12:04] #73 closed

[2018-08-08 13:46] shershen08 commented on #71
closing due to **inactivity**
@shrimpbighead  feel free to up reopen if you have updates

[2018-08-08 13:46] #71 closed

[2018-08-08 17:06] r-f-j-thomas commented on #59
This is causing me problems too. @matt-shine did you find a workaround?

[2018-08-11 06:29] nicroto opened #75 "No (re)order happens until an element selected by column-width appears."
The issue with that is - if I have different size items and for a while only the other type of items get pulled with AJAX and added, they get squished together over one another, until an item selected by column-width shows up. Only then suddenly the container gets sized up.

[2018-08-11 06:49] nicroto commented on #75
Can't find a workaround... Would it be possible to set the size of the minimal item programatically to the masonry instance? (instead of it trying to guess it from the dom element)

[2018-08-24 10:02] vicaran commented on #50
Any updates on this topic? Have those methods been added to vue-masonry?

[2018-08-26 14:17] nicroto opened #77 "[FR]: hide masonry before calling .destroy"
If you have a masonry layout on a page and you navigate to another view in a SPA app, the masonry layout flickers to unordered look as transition between pages takes place.

I think the API would benefit of an option like hideOnDestroy or something similar.

[2018-08-30 10:15] shershen08 commented on #77
Do you mean with this option enabled the plugins should skip destroying of the layout - https://github.com/shershen08/vue-masonry/blob/master/src/masonry.plugin.js#L82 ?

[2018-08-31 03:51] nicroto commented on #77
I don't know what the implications of skipping the destroy would be. Will it leak memory?
Maybe destruction can be deferred with a timeout, to allow the view to be transitioned out? So a destructionDelay prop, used only if >0?

Does this sound reasonable?

[2018-09-05 09:49] cute-angelia commented on #9
masonry and lazyload , they are good friends , the essence is to get the true height and width of the picture

[2018-09-05 09:56] shershen08 commented on #75
fixed in` 0.11.6`

[2018-09-05 09:56] #75 closed

[2018-09-05 14:36] shershen08 commented on #77
@nicroto  can you maybe create a demo on codepen.io for example for a simple vue app with vue-masonry to illustrate the issue ?

[2018-09-11 18:46] z2013 commented on #59
Having this issue as well with multiple instances... any workarounds?

[2018-10-08 14:19] asgarth commented on #59
Same problem here. Any news on this or workarounds available?

[2018-10-08 15:17] asgarth commented on #59
@shershen08 not sure if this can help you, but from what I've seen the problem is that the second instance to be loaded override the events listener defined by the first instance. So the first instance stop working as expected.

From my point of view a good workaround (before finding a final solution) could be to just add a method to reinitialize the listeners.

[2018-10-10 08:41] padinko opened #78 "Android 4.4 - Use of const in strict mode."
On Android 4.4 there is error in console and app not working:
`Uncaught SyntaxError: Use of const in strict mode.`

I think `main` in `package.json` should not point on src file, because webpack is not babel vendors.

for now I use
`import { VueMasonryPlugin } from 'vue-masonry/dist/vue-masonry-plugin-umd'`
and it resolve my problem

[2018-10-10 20:53] shershen08 commented on #78
see https://github.com/shershen08/vue-masonry#usage-with-build-tools block

`import {VueMasonryPlugin} from 'vue-masonry';`

is exactly the right way to do it.

Feel free to reopen if you still have a problem

[2018-10-10 20:53] #78 closed

[2018-10-20 21:51] Peretz30 opened #79 "Responsive layout not working"
I am trying to implement something like this:
![image](https://user-images.githubusercontent.com/27721091/47260799-dc576f00-d4ca-11e8-91c5-f3417e506fdc.png)
With this:
[code]
And something wrong happening. Please, check https://jsfiddle.net/6g5bx97m/3/

[2018-10-30 10:05] shershen08 commented on #79
Your setup is not fully correct: in your
`<div v-masonry percent-position column-width=".grid-sizer" transition-duration="0.3s" item-selector=".item" `
you didn't set the selector for the actual masonry single block - your  `item-selector=".item"` while there's no .item elements.
You should have it smth like this:
[code]

[2018-10-30 10:07] shershen08 commented on #79
Take a look at the demo https://shershen08.github.io/vue-plugins-demo-static/index.html#/masonry
hope that helps

[2018-10-30 10:07] #79 closed

[2018-10-30 14:28] shershen08 commented on #50
@vicaran @justijndepover
I've checked again this one and what I've came to conclusion:

1. to avoid non good looking animations use ` transition-duration="0"` then items will be drawn in its place immediately

2. place where the block is added is defined by your v-for="block in blocks" logic not the vue-masonry settings. So, consider the function that adds items (in this example it one-by-one, but

[2018-10-30 14:28] #50 closed

[2018-10-30 14:33] shershen08 commented on #48
@kotuck
I don't quite understand motivation behind your proposal

[2018-10-30 14:33] #48 closed

[2018-10-30 14:34] shershen08 commented on #70
any updates on that one @nikocraft  ?

[2018-10-30 16:07] nikocraft commented on #70
Yeah we fixed it we got baby smooth infinite scrolling now

[2018-10-30 16:08] nikocraft commented on #70
problem was solved with web-workers, it was the only way to get smooth animation :)

[2018-10-30 16:16] shershen08 commented on #70
closing it then

[2018-10-30 16:16] #70 closed

[2018-10-31 15:38] jluterek opened #81 "Getting [Vue warn]: Failed to resolve directive: masonry"
So on my application, this happen on first load.  Then if I navigate away using vue-router and back to page, it will properly load masonry and display.

I tested it with the JSFiddle example - https://jsfiddle.net/jericopulvera/wq07brjs and this also throws the error.

I get this behavior in Firefox 63.0, Chrome Version 70.0.3538.77, and Edge all with Windows 10.

Any thoughts?

[2018-10-31 16:34] jluterek commented on #81
I should mention that on the demo - https://shershen08.github.io/vue-plugins-demo-static/index.html#/masonry

I get

If I hard-refresh (shift-f5) it will then work properly.

[2018-10-31 16:52] shershen08 commented on #81
I would advise to check #59 if that's something similar to your case?

Also about error on demo page - really no idea, nothing like this reported previously. Some problems with network connectivity/firewall/installed extesions maybe?

[2018-10-31 17:31] jluterek commented on #81
Sorry, for bothering you with this.  I really appreciate the great work on this plugin.

If anyone else if finding this, be sure to specify your:

` Vue.use(VueMasonryPlugin);`

Before creating your vue app and mounting it.

[2018-10-31 17:31] #81 closed

[2018-11-13 18:04] AliChaudhry8 opened #82 "images overlaping"
Hey there,
I Have a wrapper on my page with a closing sidebar. When images appear it looks good. but when i close the sidebar images overlap , move from right and overlap on left side. I am not resizing the window just closing the sidebar which actually increase the width of other half screen that's causes images overlaping.

[2018-11-14 08:39] shershen08 commented on #82
Hey, @AliChaudhry8  could you check if that #44 is relevant ?

[2018-11-30 21:20] naglalakk opened #83 "Weird overlapping and performance issue"
Hi and thank you for this plugin. I'm having a weird issue with the masonry. I'm using scroll to update a photo gallery so each time a user scrolls down to the bottom more images are added (40 each time) until the gallery is complete.

When adding images the masonry takes a fairly long time to arrange them into correct positions and adjust the whole grid correctly, leaving them in a awkward state

[2018-12-03 09:33] shershen08 commented on #82
Any update on that one @AliChaudhry8 ?

[2018-12-03 09:33] shershen08 commented on #83
Hello @naglalakk could you check #44
does that sound similar ?

[2018-12-05 19:14] naglalakk commented on #83
Hi I had to use another solution because of time constraints so I'm not debugging this atm. I checked the #44 issue and this code should be doing the very same thing. But I didn't get it to work for some reason. I'll close this and reopen if I look into this further. Thank you

[2018-12-05 19:14] #83 closed

[2018-12-13 14:19] shershen08 commented on #82
closing due to no reproducible demo and inactivity

[2018-12-13 14:19] #82 closed

[2018-12-13 14:34] shershen08 commented on #68
You might want to check those:
https://github.com/desandro/masonry/issues/1053
https://github.com/paulcollett/vue-masonry-css

[2018-12-16 19:43] treardon17 commented on #48
@shershen08 I believe @kotuck may be referring to the grid being destroyed (visibly) before a Vue page transition completes? I'm currently having that problem and I would love a solution. I'm attempting to fade to the next page in my Vue application, but the masonry grid flickers and disappears before the page transition completes. Do you have any thoughts or recommendations?

[2018-12-16 20:02] ryanhovland commented on #59
I'm running into this issue as well. I have a section of my site that has a masonry grid on it. Within that section, I have child routes that also have masonry grids. When navigating away from a child page with a masonry grid, the parent masonry grid breaks.

It probably depends on your setup, but using `<keep-alive></keep-alive>` around my router-view was a fix for me.

[2018-12-16 20:50] ryanhovland commented on #59
@shershen08 I guess I'm not really sure exactly what's happening under the hood. It seems like when an instance of the masonry grid is removed from the DOM, it tries to destroy it. But instead of destroying the instance that left, it destroys all instances in the DOM. Just seems like a scope issue.

Once it breaks, the HTML markup of the masonry grid still seems to be intact, but all of its inline

[2018-12-16 21:00] asgarth commented on #59
I had the issue because my component is inside a `<keep-alive></keep-alive>` block.

So when I switch view the old instance is not destroyed and when the original component is activated again the instance stop receiving events.

[2018-12-16 21:41] asgarth commented on #59
@shershen08 exactly. Without the keep-alive the component is destroyed and created from scratch so everything works.

[2018-12-16 21:51] shershen08 commented on #59
what I came to is that
in mu test scenario I have 2 routes with same masonry items added on scroll
1) items from one route are appended to another
2) inline style tags of items are cleared after route switch -
<img width="495" alt="screen shot 2018-12-16 at 22 50 11" src="https://user-images.githubusercontent.com/1363772/50059281-2c7a4700-0185-11e9-8434-1c042233f21c.png">

[2018-12-16 22:00] asgarth commented on #59
From me also all the events stop working. I cannot force a relayout or call redrawVueMasonry.

[2018-12-20 14:00] jtpdev opened #84 "Can I import vue-masonry only in my component?"
I want to import vue-masonry in my component, but I doesn't find nothing in documentation.

It's possible? And how make it?

[2018-12-20 14:32] shershen08 commented on #84
Since `vue-masonry` is initialised as a plugin it has to be included in root of the app as a plugin - https://vuejs.org/v2/guide/plugins.html#Using-a-Plugin

[2018-12-20 14:33] shershen08 commented on #84
So it's not possible.
If you provide a use case - we can think of possible approaches.

[2018-12-20 14:33] #84 closed

[2019-01-29 02:08] CrashyBang opened #85 "Importing Masonry instead of using the CDN"
Curious how I can get this working by importing Masonry like so:
[code]
Instead of using the CDN and having it global, anyway to pass `VueMasonryPlugin` the `Masonry` instance?

[2019-02-06 04:40] frutality commented on #44
Hi @catonalake

Unfortunately, no. I ended up with own solution. In my case, width and height of images are known, so no need to wait for image loaded events.

[2019-02-21 16:46] shershen08 commented on #85
I'm not quite sure what you're trying to achieve
currently masonry is imported as a module within the plugin code - https://github.com/shershen08/vue-masonry/blob/master/package.json#L16

[2019-02-27 16:15] shershen08 commented on #85
closing for now since now activity
@CrashyBang feel free to reopen or ping me on twitter

[2019-02-27 16:15] #85 closed

[2019-03-12 14:15] Nfinished opened #86 "Tile height doesn't recalculate on content height change"
If a tile's height, or the height of its children, is changed dynamically masonry won't assign it a new height and it'll either overlap with another tile or create a space. Is this a missing use-case or am I doing something wrong?

[2019-03-13 14:30] shershen08 commented on #86
Thanks for the input @Nfinished
Does the original masonry (without a vue plugin) do that ?

did you try calling ` this.$redrawVueMasonry()` ?

[2019-03-13 14:43] Nfinished commented on #86
That's a good point, I hadn't realized this was just a straight wrapper for a javascript library.

`$redrawVueMasonry()` wouldn't work in my situation because the content being resized is in slots and there's nothing to watch efficiently.

[2019-03-16 16:24] shershen08 commented on #86
$redrawVueMasonry() should be able to call from any component - in your case the ones in the slots that are actually being resized

[2019-03-18 14:08] max-schu commented on #48
+1 why is this behaviour intended?

[2019-03-19 20:23] shershen08 commented on #86
any updated on this one @Nfinished
if you were able to fix it please share

[2019-03-22 08:42] shershen08 commented on #86
**closing** for now due to inactivity
feel free to reopen or share your findings

[2019-03-22 08:42] #86 closed

[2019-03-27 06:40] zonique2k commented on #84
We would like to use vue-masonry in a spfx webpart in sharepoint. That means we don't control the entire page, just a small part of it.
Other webparts (from other vendors) on the same page might also use vue-masonry, maybe in another version which might not be compatible with the one we use (maybe a future new major version).
That why we always use local registered components

[2019-04-21 19:51] headione commented on #59
First of all: Thanks for this awesome plugin! ❤️

I'm not sure if it helps but I also had this issue with the router-view wrapped in `<keep-alive>` and I think I fixed it by redrawing masonry within the `activated ()` state and it looks like it solved the problem for me.

[code]

[2019-04-25 09:19] shershen08 commented on #77
closing due to inactivity

[2019-04-25 09:19] #77 closed

[2019-04-25 09:20] shershen08 commented on #68
closing due to inactivity

[2019-04-25 09:20] #68 closed

[2019-05-21 20:34] rotemrevivo91 commented on #44
I have the same problem. My solution is to wait for a promise for 850ms (smallest interval that worked for me) and then redraw the masonry layout. The time delay is so small that is literally unnoticeable.

[code]

[2019-05-22 09:13] qiangbro opened #88 "Support customized direction?"
vue-masonry is very cool.
Do you have plan to Support customized direction?
Just Likes, fill the black area from Left to Right, with tiles that their height are fixed?
![image](https://user-images.githubusercontent.com/4646469/58162480-d621af00-7cb4-11e9-9364-1169369672a5.png)

[2019-05-22 12:22] benjamindedonder commented on #59
Yes, this is a very cool feature you are bringing to Vue.js. Your work is very much appreciated.

Is there any progress on this? I am having the same issue.

[2019-05-23 14:01] shershen08 commented on #88
Do you mean adding a support for the https://masonry.desandro.com/options.html#originleft property of the original masonry lib ?
if yes - then did you try to add attribute `origin-left="false"` https://github.com/shershen08/vue-masonry#properties ?

[2019-05-23 14:10] shershen08 commented on #59
@benjamindedonder did you check the items in this thread:
1) avoid <keep-alive>
2) try using this.$redrawVueMasonry() ?

[2019-05-23 14:32] benjamindedonder commented on #59
Yes, I have. In my case I am displaying a list of images with vue-masonry and allowing the user to select these images from elsewhere via a dialog in which I again use vue-masonry. After the dialog closes I am not able to request a redraw for the first mentioned list of images.

[2019-05-29 10:11] shershen08 commented on #88
closing due to inactivity

[2019-05-29 10:11] #88 closed

[2019-08-02 20:00] Guillaume69 commented on #3
Hi, sorry but i don't see how your solution fix the problem. You globaly expose redrawVueMasonry to the Vue instance, but in which way i can listen to 'layoutComplete' event ? Thank you !

[2019-08-15 12:10] LepuavkoDV commented on #65
any updates?

[2019-08-19 20:06] #59 closed

[2019-09-09 22:19] austriker27 opened #90 "Access to original Masonry Events"
This package doesnt seem to access the [masonry events](https://masonry.desandro.com/events.html), it would be great if that could be added.

If they are included, some documentation on how to use would be great.

Thanks

[2019-09-18 15:23] a1tem opened #91 "Empty columns"
Hi, do you know why this can happen?
<img width="1117" alt="Снимок экрана 2019-09-18 в 18 18 42" src="https://user-images.githubusercontent.com/1446261/65161929-1ca7d000-da41-11e9-880c-b6452c40ebe1.png">
I use it with infinity loader at the beginning all goes well, and then at some time all the tiles go in the incorrect order.

[2019-09-19 16:20] MuhaddiMu opened #92 "Why the items are not centering inside the <v-layout> Vuetify"
Here is my code which is not working as expected.

[code]

Current Output:
![Current Output. Items are aligned to the left side.](https://user-images.githubusercontent.com/26611847/65262007-df1b7380-db22-11e9-8fe4-b9af3f0d7971.png)

Expected To Be(Like):
![Centering all of the card items AKA masonry content](https://user-images.githubusercontent.com/26611847/65261995-dcb91980-db22-11e9-8c7b-dab040

[2019-09-20 08:45] mklasinc commented on #48
+1 having the same issue

[2019-09-20 09:37] shershen08 commented on #92
For such issues where there's no clear JS error, but more of the CSS misbehaving it would be nice to see the jsfiddle/codepen with demo - I sorry I don't have time to clone and install the app to debug it.

An idea to check - are you maybe using fitwidth with percentage width of children?
as the https://masonry.desandro.com/options.html#fitwidth docs say:

[2019-09-20 18:25] MuhaddiMu commented on #92
Thank you for your response. Well, that's was basically my layout issue.
I was not using `fill-height` in my container

[2019-09-20 18:25] #92 closed

[2019-10-17 08:27] hyperst8 opened #93 "Vue-masonry not working in Internet Explorer 11"
Hi,
I have setup and used vue-masonry in my Nuxt project. Everything works fine in browsers like Chrome and Firefox. It doesn't work in Internet Explorer 11. Do you know how to solve this?
It gives a error message:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/19534642/66991548-98407f80-f0c8-11e9-9a41-92e9039049fc.png)

Thanks in advance

[2019-10-18 14:00] shershen08 commented on #93
Hey,  which build tool you are using?
did you try to include vue-masonry from files that are ES5-compatible  - https://github.com/shershen08/vue-masonry/tree/master/dist

[2019-10-18 14:02] shershen08 commented on #90
You are right events from original library are not available at the moment
this could be a nice addition to v.2.0 indeed

[2019-10-18 14:07] shershen08 commented on #91
It is really hard to say what's happening without seeing the code on the page ( do you think it would be possible to have a demo page  reproducing the issue ?

[2019-11-04 19:01] austriker27 commented on #93
How do I include those tools? I'm using the vue CLI (with webpack) and getting an error in IE11.

Error:
![image](https://user-images.githubusercontent.com/14855925/68149166-3ec2b800-fef2-11e9-85e9-006132ee676e.png)

Error in file:
![image](https://user-images.githubusercontent.com/14855925/68149194-4c783d80-fef2-11e9-9967-ddd90cd064a9.png)

I can open a new issue if desired. I found that apparent

[2019-11-06 10:25] shershen08 commented on #93
So does the above config  solve your problem @hyperst8 ?
I that is an issue for your project, but considering the specific case (IE11 in 2019) maybe a copying a dependency in your codebase and transpiling it in a specific way so that ie11 can handle this is workable solution.

[2019-11-09 04:03] jhlee8804 commented on #93
v0.11.7 working now. But v0.11.8 is not working on IE11.

[2019-11-19 04:54] baltazawr opened #94 "vue-masonry not work with vue-server-renderer"
I would like to use this package together with vue-server-renderer. Compilation is error-free, but the following error occurs at startup.
ReferenceError: window is not defined
    at Object. (/Users/alexanderdaitkhe/Downloads/www/mediahubvue/node_modules/vue-masonry/dist/vue-masonry-plugin-window.js:6:1)
    at Module._compile (internal / modules / cjs / loader.js: 956: 30)
    at Object.Module._e

[2019-11-19 11:34] shershen08 commented on #94
there are 2 files generated
https://github.com/shershen08/vue-masonry/tree/master/dist
especially for easy of use in all contexts. is there a way to use the UMD one ?

[2019-11-19 12:12] shershen08 commented on #93
@jhlee8804 the change bw 0.11.7 and 0.11.8 are
- use more ES6 syntax
- add all the masonryId logic

@hyperst8 can you confirm that using 0.11.7 solves the problem? then we could act accordingly - update README, create a PR to fix that inconsistency

[2020-01-20 11:22] rogervila opened #96 "Example using Tailwind CSS"
Hello,

I have created an example using a [Tailwind CSS card example](https://tailwindcss.com/components/cards/#app)

https://jsbin.com/zafegay/edit?html,output

The link might be added to the readme.

Thank you.

[2020-02-21 17:10] dantuck commented on #93
@shershen08 it is confirmed that changing to 0.11.7 does solve the problem.

[2020-03-04 09:42] gengchen528 commented on #44
how to use imagesLoaded in this project. i  find `imagesloaded` had been import in this project. but there is no demo to show how to use it.  can you help me? thank you

[2020-03-29 16:56] shershen08 commented on #96
Looks nice! Could you please create a PR modifying README.md ?

[2020-03-29 21:25] rogervila commented on #96
Yes, thank you :)

[2020-03-30 19:27] #96 closed

[2020-04-01 20:24] luminous8 opened #98 "Conditional directive?"
Hi,

I'm looking for a way to enable vue-masonry only in certain cases.
I'd like to be able to enable it this way `v-masonry="true"` for example.

Is this achievable in some way without having to duplicate the whole code?

[2020-04-01 20:47] luminous8 commented on #98
I've already asked for this almost 2 years ago :/
https://github.com/shershen08/vue-masonry/issues/67

[2020-04-01 20:47] #98 closed

[2020-04-03 12:04] fabis94 commented on #93
It looks like this package isn't properly transpiled on build, because the build includes code that can't be understood by IE11.

[2020-04-20 13:03] kirkbushell opened #99 "Multiple instances on one page - if one is destroyed, both are destroyed"
I have a shared component that renders a masonry directive. On one of my pages, I have 2 of them. Essentially what I do, is add items to one, and update the other at the same time.

If the one I'm adding items to is emptied, I have logic to remove the masonry rendering - all good.

However, it seems to also destroy the masonry instance on the page (all the items suddenly go to the far left).

I've

[2020-04-20 21:00] chakflying commented on #44
Came up with an alternative solution for if you know how many images you are loading:

*template*
[code]

*script*
[code]

I don't know why 'my_thing' has to be wrapped as a string in both places, but it doesn't seem to work otherwise.

[2020-06-09 18:12] sonnb commented on #44
Just in case someone needs. If you use v-image, you can listen to the load event and redraw the layout everytime a new image is loaded.

[code]

[2020-06-11 15:10] cute-angelia opened #101 "hide the pictures outside the view"
Too many pictures of waterfall flow affect performance. Can you hide the pictures outside the view, like Tumblr archive page

[2020-06-30 04:05] denmasyarikin opened #102 "[Feature Request] Item with different width"
![Screenshot from 2020-06-30 10-53-32](https://user-images.githubusercontent.com/18554343/86081768-51f94800-bac0-11ea-9a8e-bf2ace9d1e00.png)
I have layout like image above, and i don't know how to achieve that with vue-masonry, I just think this package should use equal width, how about different width?
I got result like this
![Screenshot from 2020-06-30 11-00-15](https://user-images.githubusercon

[2020-07-05 08:36] uzzal-ht commented on #102
I have same issue

[2020-08-12 21:52] HyperC commented on #91
@shershen08 I'm also encountering this issue. It's fairly easy to reproduce. For example:
`<div
          v-masonry
          :percentPosition="true"
          :gutter="4"
          origin-top="true"
          class="cards-container"
          column-width=".tile"
          horizontal-order="true"
          origin-left="false"
          transition-duration="0"
          fit-width="true"

[2020-09-04 17:24] skjnldsv opened #103 "Pin elements or specify column"
Related to https://github.com/desandro/masonry/issues/1140

Hi, I'd like to specify some items to be set at the very last column.
So whatever the reflow would be, they would always be in the last wolumn.

I searched a bit around, but couldn't fien anything related.
Is it possible? IS it what stamps are all about?

Thanks a lot! And thanks for this awesome library!

[2020-09-25 03:49] avxkim opened #104 "Typescript support?"
Do you plan to add type declarations file?

[2020-09-29 19:42] dawin09 commented on #90
Hello @shershen08 is this still on your roadmap, would be nice to have the events.

[2020-11-03 04:14] bhavinichauhan-easternts opened #105 "Can we have category filter with the items in vue-masonry?"

[2020-11-04 20:01] shershen08 commented on #105
Thanks for your question @bhavinichauhan-easternts
if I got you correctly - filter is a generic element that can be added to a list that you're displaying in vue-masonry or just to any list of items. So this is not a part of the plugin functionality.

closing as won't be implemented in the plugin;
feel free to re-open if you have any concerns

[2020-11-04 20:01] #105 closed

[2020-11-04 20:06] shershen08 commented on #99
here we call a destroy - https://github.com/shershen08/vue-masonry/commit/f6271d139343ed382890d07fc0be9cf2416e8c1b#diff-6515fb01dcdfe1d3d96674797d6492bbab4bf782f8e9151fe76e67a17e3da9e7R75

but instance is created on a specific element - https://github.com/shershen08/vue-masonry/blob/master/src/masonry.plugin.js#L58
and also the destroy event has an id suffix in it:

[code]

do you maybe have a dem

[2020-11-04 20:08] shershen08 commented on #101
I suggest that could be done your logic by using https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API ?

feel free to reopen if you have considerations why this must be a part of the plugin itself

[2020-11-04 20:08] #101 closed

[2020-11-11 23:52] shershen08 commented on #99
closing as no response

[2020-11-11 23:52] #99 closed

[2020-11-19 19:49] bbecker-te opened #106 "jsfiddle demo has console errors"
When I open the provided [jsfiddle](https://jsfiddle.net/jericopulvera/wq07brjs), I see these errors in the devTools console:
[code]

[2020-11-28 11:57] borodadada commented on #94
Vue SSR not work!
[code]

[2020-12-07 11:18] stayallive opened #107 "Version 0.12.0 published on NPM legitimate?"
I see there was a new version published on NPM but nothing here, is this package version legitimate?

From a quick diff I'm not noticing much worrying but I'm also not an expert in diffing minified code.

[2020-12-07 12:13] shershen08 commented on #107
Thanks for checking @stayallive
indeed I published v 0.12.0 several days ago,
that one includes the conde added in this https://github.com/shershen08/vue-masonry/pull/95

[2020-12-07 12:13] #107 closed

[2020-12-07 12:38] shershen08 commented on #106
thanks for the note @bbecker-te
updated the link to demo - https://jsfiddle.net/shershen08/n54039qg/

[2020-12-07 12:38] #106 closed

[2020-12-07 12:44] stayallive commented on #107
Perfect, thanks!

[2020-12-16 08:47] skjnldsv opened #108 "Please add changelog, tags and releases"
Hi,

It's pretty hard to see if there was any breaking changes and what changed between releases.
Would you consider filling github's release page as well as providing tags and changelog to this repo?

That would really help preventing regressions and knowing what happened over time :)

Thanks and take care! :v:  :hugs:

[2020-12-27 17:32] shershen08 commented on #108
Good suggestion @skjnldsv
I've created a release for the latest version - https://github.com/shershen08/vue-masonry/releases/tag/0.12.0

I guess creating a changelog for previous versions that go back years back is time-consuming without much of added value.
but will try to follow the changelog in upcoming releases

[2020-12-27 17:32] #108 closed

[2020-12-27 17:33] shershen08 commented on #93
please switch to @ 0.11.7 @fabis94
will close for now, feel free to reopen

[2020-12-27 17:33] #93 closed

[2020-12-27 17:34] shershen08 commented on #44
closing for now

[2020-12-27 17:34] #44 closed

[2021-01-05 05:00] cc2937 opened #109 "upgrade vue-no-ssr to vue-client-only"
the origin `vue-no-ssr` has upgraded to `vue-client-only`

[2021-01-05 09:32] shershen08 commented on #109
thanks for the note @chanjsq I'll try to incorporate and test this one coming weeks

[2021-01-08 01:37] Kvothe1997 opened #110 "Support for Vue 3"
Hi, are you planning on giving support for Vue 3?

[2021-01-12 17:23] seagoj commented on #93
Are we certain that v0.11.7 will work in IE11? I have tried to downgrade and I'm still seeing the issue.

[2021-02-11 07:59] cintax commented on #110
#111 Pull request for this issue ( First Open Source Pull Request )

[2021-03-25 12:23] alansutherland commented on #91
Try `origin-left="true"`

[2021-03-25 20:29] kinger251285 opened #112 "'$redrawVueMasonry' of null - Vuetify Integration"
Hi

I have just downloaded the latest version via npm and trying to use vue-masonry in an existing project.

However i am getting the below console error: '$redrawVueMasonry' of null

The grid shows but it is overlapping my footer and the height of the row is not expanding with the content.

My Code below:

`<v-row v-masonry>
    <v-col v-for="(imageInfo, index) in images" :key="index" cols="12" s

[2021-04-01 07:28] FlambeSk commented on #112
Consider use mansory ID too.

<v-row v-masonry="'masonryGridId">

And then use @load="$redrawVueMasonry(masonryGridId)"

[2021-04-15 16:02] mGGk-fr commented on #86
Hello,

I re-open this as i encounter the same problem.
Context:
One of my element inside my masonry layout may expand it's height.
Basically, i display a div depending on a v-if condition.

here's a sample of the code that i use :
[code]
But it does nothing.
I've tried to call it after a tick

[code]

BTW calling the redraw method after adding or removing an element works like a charm.
Thanks for

[2021-04-21 16:21] shershen08 commented on #110
merged this PR and published 0.13.0
https://www.npmjs.com/package/vue-masonry

[2021-04-21 16:21] #110 closed

[2021-05-10 15:21] lahdekorpi opened #114 "nextTick is not available when building with Rollup"
Rollup build fails due to nextTick missing.

[code]

[code]

[2021-05-10 15:32] lahdekorpi commented on #114
Oddly enough, with Vite, everything works perfectly when running just the dev server.

[2021-05-15 21:53] rosnaib11 commented on #58
Better if this have SSR support

[2021-05-17 15:22] 7architect commented on #114
i have a similar problem with **Vite** and **Vue 3**. I tried to build with npm, yarn, pnpm and have a problem with nextTick import

![image](https://user-images.githubusercontent.com/33001830/118513601-2c0a7f80-b734-11eb-8ee8-bf77a8d8d3a0.png)

<details>
  <summary>Text logs</summary>

[code]

</details>

[2021-05-27 10:30] kjh4357 commented on #90
I want the layout complete function to be added.

[2021-06-03 14:25] wbw opened #115 "Add provider for Vue3 version, so redraw can be called in hooks"
Consider adding a 'provider' (`app.provide`) for the redraw in the Vue3 version of the plugin, so it could be injected in the composition API during setup and thus used in lifecycle hooks (i.e. something like `const redraw = inject("redrawVueMasonry");`).

[2021-06-14 03:28] ffxsam opened #116 "Issues with timing and redraw function"
I have a dashboard I'm designing that needs to use a masonry layout. I've set up my dashboard cards so that anytime any of them update their UI in a way that would influence the size, they emit a `change:size` event, which will bubble up to the Dashboard component and be handled there:

[code]
[code]

As you can see in [this video](https://www.dropbox.com/s/xgo58ry3xap6ilr/Masonry%20Redraw%20Issue

[2021-06-28 20:46] roberttolton commented on #114
@7architect Your logs say you're trying to import `nextTick` from `vue@2.6.12`..?

[2021-07-06 15:39] iancallahan commented on #114
I am running into the same issue with Vite, Vue 3 and Rollup. Works fine with Vite dev and when I use the component elsewhere via Webpack. But Vite build yields the same issues as above.

[2021-07-06 16:41] iancallahan commented on #114
I was able to get this to work with Rollup by forking it and simply updating the Vue version to ^3 and rebuilding.

[2021-07-18 20:24] ux-engineer commented on #65
Yep?

[2021-08-22 06:51] kirkbushell commented on #116
I've had to do this numerous times, often because the simple act of calculating changes takes longer than we might otherwise expect. I have a number of places where I wait 50ms or so before doing a redraw, to ensure the elements are re-rendered and ready for masonry.

I don't think this is a masonry issue.

[2021-09-19 11:50] jljse commented on #114
I use vite + vue3 and have same trouble.
When I renamed node_modules/vue-masonry/node_modules folder, then it seems work.
Is this folder required?

[2021-11-10 10:41] shershen08 commented on #115
will be adressed in #114

[2021-11-10 18:06] shershen08 commented on #115
here's the comment about the new version https://github.com/shershen08/vue-masonry/issues/114#issuecomment-965602562
let's followup there

[2021-11-10 18:06] #115 closed

[2021-11-25 18:16] lahdekorpi commented on #114
`0.14.0-beta.0` Works perfectly. 🎉  Thank you!

[2021-11-29 20:15] shershen08 commented on #104
added by @fivetide in #113

available from `0.14.0`

[2021-11-29 20:15] #104 closed

[2021-11-29 20:18] shershen08 commented on #114
released `0.14.0` - https://github.com/shershen08/vue-masonry/releases/tag/0.14.0

https://www.npmjs.com/package/vue-masonry/v/0.14.0

[2021-11-29 20:18] #114 closed

[2021-12-28 10:48] kmsheng opened #119 "export 'nextTick' was not found in 'vue-demi'"
vue@2.6.10
vue-demi@0.12.1

![Screen Shot 2021-12-28 at 6 44 50 PM](https://user-images.githubusercontent.com/880569/147558671-cfee7943-e6ad-4b59-8b56-7c02480ece8f.jpg)

[2021-12-28 10:56] kmsheng opened #120 "export 'nextTick' was not found in 'vue-demi'"
![Screen Shot 2021-12-28 at 6 44 50 PM](https://user-images.githubusercontent.com/880569/147558361-e0da1852-df57-4d90-866c-e8907121f8d6.jpg)

[2021-12-28 10:56] #120 closed

[2021-12-29 10:58] rosenfeldalon opened #121 "Error Events.emit is not a function"
On version 0.14.0 using Vue 2 with TypeScript and composition API,
when leaving component that uses vue-masonary gets the following error:

`vue.runtime.esm.js?2b0e:619 [Vue warn]: Error in directive masonry unbind hook: "TypeError: Events.emit is not a function"
`

[2021-12-29 11:00] rosenfeldalon opened #122 "Property '$redrawVueMasonry' does not exist"
On version 0.14.0 using Vue 2 with TypeScript and composition API, this.$redrawVueMasonry() is not available in component
Property '$redrawVueMasonry' does not exist

[2021-12-29 17:53] shershen08 commented on #121
Currency library is in transition mode supporting both Vue version 2 in version 3.
However a composition API function is only available when you have version 3 explicitly used,

https://github.com/shershen08/vue-masonry/blob/93d83bb1230476d6f24b44c03e292e622ddc26da/src/masonry.plugin.js#L129

So the idea is you should not be using composition API functionality of vue-masonry with compatibility plu

[2021-12-30 09:40] rosenfeldalon commented on #121
Thanks for the quick reply, it seems that the error is caused on vue-masonry/src/masonry.plugin.js line 102
` Events.emit(`${EVENT_DESTROY}__${masonryId}`)`
in the unbind function,

perhaps doing  the checks you've done checking if Vue2 will solve this error:
`Events[`${isVue2 ? '$' : ''}emit`](`${EVENT_ADD}__${masonryId}`)`

Regards,

[2021-12-30 09:41] rosenfeldalon commented on #122
I added a shims-masonry.d.ts file containing the following that solved my issue

`import Vue from "vue";
declare module 'vue/types/vue' {
  interface Vue {
    $redrawVueMasonry: () => void;
  }
}`

[2021-12-30 09:41] #122 closed

[2022-01-21 16:19] hollote commented on #121
Please take a look at PR https://github.com/shershen08/vue-masonry/pull/123

[2022-01-22 10:57] shershen08 commented on #121
merged, thanks

[2022-02-07 12:20] seonwoo960000 commented on #121
Is this fixed in version 0.14.0 ? I still see this error. Thanks in advance

[2022-02-07 14:29] rosenfeldalon commented on #121
hey @shershen08 any thoughts on releasing a patch version with the fix? perhaps 14.1
will be much appreciated!

Regards,

[2022-02-07 19:26] shershen08 commented on #121
@rosenfeldalon published **0.14.1** just now - https://www.npmjs.com/package/vue-masonry

please upgrade and give it a try

[2022-02-07 19:27] shershen08 commented on #119
@kmsheng please check #114

[2022-02-08 08:32] rosenfeldalon commented on #121
@shershen08 thanks! the version in npm is marked as 0.14.1 but the GitHub repo is still 0.14.0, when installing the issue still occurs...

[2022-02-08 08:46] shershen08 commented on #121
When instal the new version is the problem fixed?

[2022-02-08 08:52] rosenfeldalon commented on #121
no, as I mentioned the fix is not included in the **masonry.plugin.js** file as shown in the PR for some reason
https://github.com/shershen08/vue-masonry/pull/123/files

this Is after removing node_modules before clean install

[2022-02-09 07:34] rosenfeldalon commented on #121
@shershen08 perhaps there was something that went wrong in the merge, see attached screenshots, hope this will help clarify the situation:

![shershen08_vue-masonry__💠_Vue_js_directive_for_masonry_blocks_layouting_✅](https://user-images.githubusercontent.com/12997716/153142512-acb9f9a6-b97b-430e-88d7-95e9bccb471d.png)

![datomize-ui_–___Documents_datomize_projects_datomize-ui_node_modules_vue-maso

[2022-02-15 14:02] nodermann opened #125 "How to get the current number of columns?"

[2022-02-19 07:55] Ghustavh97 commented on #119
@shershen08

same issue on Nuxt @ v2.15.8 using `v0.14`

[code]

[2022-02-24 12:25] Sirros opened #126 "./node_modules/vue-demi/lib/index.mjs Module not found: Error: Can't resolve '@vue/composition-api/dist/vue-composition-api.mjs'"
{
  "name": "hello-world",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build",
    "lint": "vue-cli-service lint"
  },
  "dependencies": {
    "core-js": "^3.6.5",
    "less": "^3.9.0",
    "less-loader": "^4.1.0",
    "monaco-editor": "^0.31.1",
    "vue": "^2.6.11",
    "vue-masonry": "^0.14.1",
    "vue-monaco-edito

[2022-03-08 14:48] damienroche commented on #126
@Sirros if you are using this plugin for Vue.js 2 I recommended to downgrade version to 0.12.0 in package.json

[2022-03-11 13:18] hongdung6992 opened #127 "Error Unexpected character '`' in ver 0.11.8"
When I run `npm run build` in my Vuejs project
It show error

Unexpected character '`' [./node_modules/vue-masonry/src/masonry.plugin.js:71,0][build.js:89997,20]

Not sure how or if it can be fixed?

[2022-03-15 08:36] shershen08 commented on #121
guys, will fix it today.

[2022-03-16 07:51] shershen08 commented on #121
@rosenfeldalon  @seonwoo960000
i've just published 0.15.0
please check if that is OK now?

[2022-03-24 12:10] oommgg commented on #119
@Ghustavh97
try

[code]
then

[code]

[2022-03-24 12:35] shershen08 commented on #127
can you try to upgrade to `0.15.0` ?

[2022-03-24 17:18] Ghustavh97 commented on #119
@oommgg Thanks for the help but I had already tried that and it did not work, switched to vanilla https://github.com/desandro/masonry instead

[2022-04-27 11:39] Sirros commented on #126
@damienroche  ok, it worked, thanks

[2022-04-27 11:39] #126 closed

[2022-05-21 10:47] guiguinational opened #129 "integration problem with view3"
I can't use the package with Vue3,
the file masonry-vue3.plugin.js doesn't exist,
instead there is the one for vue2 but I can't use it

[2022-05-29 17:17] shershen08 commented on #129
There's a `vue-masonry-plugin-umd.js` file that should work with Vue3
https://unpkg.com/browse/vue-masonry@0.15.0/dist/

[2022-05-29 17:18] #119 closed

[2022-05-29 17:18] #127 closed

[2022-05-29 17:19] #121 closed

[2022-05-29 17:22] shershen08 commented on #125
There's no direct model value that stores the number of columns
but you could maybe use some JS to calculate it by dividing the width of the container by width of the target element
`column-width="#test"`

keep in mind there's a property that if is set - resizes the container
_fit-width="true" - sets the width of the container to fit the available number of columns;_

[2022-05-29 17:22] #125 closed

[2022-07-11 03:11] shash7 opened #131 "How to completely disable animations"
Is there a way to completely disable animations? I have to call redraw multiple times because of store updates and all the elements moving around is giving bad user experience.

[2022-07-14 11:41] datWeazel opened #132 "Manually redraw with <script setup> Syntax?"
I'm currently rewriting some old Vue components in the new <script setup> Syntax. In one of the components vue-masonry is used and `this.$redrawVueMasonry()` is called. Obviously `this.` is no longer available with <script setup> Syntax.

Is there any way to manually redraw when using the new syntax?

[2022-07-17 11:17] shershen08 commented on #132
for v3 + script setup you should be able to use
[code]

[2022-07-17 11:18] shershen08 commented on #129
closing as no answer

[2022-07-17 11:18] #129 closed

[2022-07-17 11:19] shershen08 commented on #116
Closing as no updates for a while.
Feel free to reopen if you have extra input.

[2022-07-17 11:19] #116 closed

[2022-07-17 11:20] shershen08 commented on #112
Closing as no updates for a while.
Feel free to reopen if you have extra input.

[2022-07-17 11:20] #112 closed

[2022-07-17 11:20] datWeazel commented on #132
Thanks for the response. Would this work with vue2.7? We are currently still on 2.7, rewriting everything with <script setup> to make migrating to Vue3 easier.

[2022-07-17 11:20] shershen08 commented on #112
was the [FlambeSk](https://github.com/FlambeSk) comment helpful for you [kinger251285](https://github.com/kinger251285) ?

[2022-07-17 11:31] shershen08 commented on #109
added, https://github.com/shershen08/vue-masonry/commit/46888d824df38b3a0f54b20ed088d250c635990c

[2022-07-17 11:31] #109 closed

[2022-07-19 10:07] dwagner320 opened #133 "Can you use append like in the original library?"
I dont want to load all the images at once as it seems the site will respond too slow.
I was thinking to use the append method (when the user scrolls down) like it is available in the original library.
Is it possible to use that method with your package?

[2022-07-24 13:13] MartinX3 commented on #132
It seems not to work in 2.7
`injection "redrawVueMasonry" not found.`

[2022-08-11 11:10] NereaFontecha opened #134 "When adding more items, viewport position changes."
Is it posible to avoid the scrolling to top when loading more items?
Thanks
https://user-images.githubusercontent.com/52252556/184120627-3b9c8601-2af5-4484-b275-fddb7416a802.mov

[2022-08-23 12:41] iancallahan commented on #131
Try setting the transition duration to zero. E.g.:

`  <div id="masonryContainer" v-masonry transition-duration="0s" item-selector=".item" fit-width="true">
`

[2022-09-14 21:28] SeTube opened #135 "Switching routes will cause previously loaded multi-column cards to be merged into one column"
Hello,
Is there any solution please?
Please let me know if there is a solution, thanks

[2022-09-14 21:50] SeTube commented on #135
emmm
horizontal-order="true"

[2022-09-14 21:50] #135 closed

[2022-09-14 22:01] setube opened #136 "Inserting the array from the head will cause the original data to be rendered and the card will be misaligned"
No solution found for this

[2022-09-20 01:32] wsj2012 commented on #135
I set horizontal-order="true", but the issue still there.

[2022-09-20 02:23] wsj2012 opened #137 "Switching routes will cause previously loaded multi-column cards to be merged into one column #135"

[2022-11-12 22:18] snakeye opened #139 "Upgrade 0.13.0 -> 0.16.0 is breaking change on Nuxt 2"
Hello!

I have upgraded the package from 0.13 to 0.16 in the application made with Nuxt 2 and now the masonry is not working. The console shows the following error:

[code]

The test project to reproduce the error is here - https://github.com/snakeye/nuxt-vue-masonry

[2022-11-15 12:47] asamoon commented on #139
some issues
[code]

[2022-11-22 17:38] patrickelectric opened #140 "Not possible to use with Vue3"
`vue-masonry/src/masonry-vue3.plugin` does not exist in 0.16

When using `import { VueMasonryPlugin } from 'vue-masonry'` I get the following error:
[code]

[2022-11-22 17:39] patrickelectric commented on #140
Related to: https://github.com/shershen08/vue-masonry/issues/129